---
# <!-- @formatter:off -->
title: Digital Customer Engagement Platform (DCEP)
banner-image: /images/pages/products/home/banner-DCEP.png
menu-priority: 0.9
meta-keywords: talisma digital platform, Customer satisfaction score, customer acquisition, customer retention, personalisation, brand engagement, customer engagement, inbound communication, prospect outreach, customer service scores, customer interactions, Digital Platform, Digital transformation, Digital customer experience
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Delivering an Engaging Experience Through a Digital Platform</p>

    <p class="cmc-article__intro-p">How much does your organisation score, when it comes to delivering a consistent experience across the customer engagement spectrum?</p>

        <p>Talisma Digital Customer Engagement Platform, ranked high and endorsed extensively by diverse brands across verticals can help increase your customer satisfaction score and increase customer addition and retention. The underlying fundamental is simple - prospects or customers who receive personalised attention on a communication channel of their choice stay engaged with your brand for the longest period.</p>

    	<p>At a strategic level, the platform expands your customer engagement canvas by opening new avenues to increase business per customer. At a tactical level, Talisma Digital Customer Engagement Platform strengthens both outreach and inbound communication efforts and empowers your customer service teams to do much more. With Talisma Digital Customer Engagement Platform, your business can seamlessly transition from a being transaction driven entity to a visionary focused on delivering ‘top notch’ customer experience.</p>

        <ul class="cmc-article__link-list cmc-article__link-list--centered">
            <li class="cmc-article__link-list-item">
                <a class="cmc-article__link"
                   href="/documents/Digital_platform_whitepaper.pdf">View Whitepaper</a>
            </li>
        </ul>

</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--box-bg-grey">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
        <h2 class="info-box__title">Talisma Digital Customer Engagement Platform (DCEP)</h2>
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
			<section tabindex="-1">

                <p>Talisma Digital Customer Engagement Platform (DCEP) binds technology and best practices into a powerful mix that not just delivers high business value but also ensures satisfied long-term customers through continuous engagement. Businesses can track and engage customers across communication channels with accuracy, measuring engagement effectiveness and collecting and acting on real-time feedback.</p>

                <p>This platform is modular in nature to support your growth – across channels and processes through the customer lifecycle.</p>

			</section>
            </div>
        </div>
    </div>
</div>

<div class="layout__bg--theme-primary-white">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
        <h2 class="info-box__title">DCEP - Three Pronged Advantage</h2>
        <div class="info-box__content-wrapper--left">
        	<p>The Talisma Digital Customer Engagement Platform offers you a three pronged advantage from engagement to fulfilment with an integrated Omni-channel platform, process automation and actionable intelligence.</p>
        	<div style="text-align:center">
                <img src="/images/pages/products/home/dcep-flow.png" alt="Digital Customer Engagement Platform">
            </div>
        </div>
        </div>
    </div>
</div>

<div class="layout__bg--info-box">
    <ul class="info-box-list">
        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
