---
# <!-- @formatter:off -->
title: Marketing
meta-keywords: CRM marketing, Marketing solution, Service marketing, marketing solution, marketing software Financial services, Campaign CRM
menu-priority: 0.2
banner-image: /images/pages/products/marketing/banner-marketing.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma Marketing</h1>
    <p class="cmc-article__subtitle">Stage Highly Targeted Campaigns and Measure Results</p>
    <p class="cmc-article__intro-p">Link communications originating from any channel across devices with customer data 
    and behaviour to generate relevant communications in real-time in line with customer expectations.</p>

    <p>Talisma Marketing helps you design and execute personalized electronic and traditional marketing campaigns. You
        can also manage target lists, automate key aspects of campaigns, and determine which campaigns work best through
        advanced analytics. Talisma Marketing's powerful analysis tool helps you track response rates, costs, and return
        on investment (ROI) of each campaign.</p>


</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Graphical campaign workflow</h2>
            <img class="info-box__img" alt="" src="/images/pages/products/marketing/box-campaign-workflows.png"/>
            <div class="info-box__content-wrapper--left">
                <p>An intuitive user interface driven workflow model allows the easy creation and management of both simple 
                and complex campaigns. Any step in the campaign workflow can be tracked, analyzed, and modified with 
                relative ease.
                </p>
            </div>
        </li>
        <li class="info-box">
            <h2 class="info-box__title">Bundled analytics</h2>
            <img class="info-box__img" alt="" src="/images/pages/products/marketing/box-analytics.png"/>
            <div class="info-box__content-wrapper--left">
                <p>Advanced reporting and analytics features in Talisma allow an organization to gain insight and make 
                adjustments to marketing campaign activities in real time.</p>
            </div>
        </li>
    </ul>
</div>
{{/content}}


{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
