---
# <!-- @formatter:off -->
title: Omni Channel
menu-priority: 0.8
meta-keywords: Customer communication solutions, Unified communication management, Customer interaction solution, Customer response management, Multi-channel customer communication, Email, chat, sms, co-browse, self service, virtual chat, live chat, instant messaging, social collaboration, social marketing, social interactions, sentiment analysis, multi channel, portal, mobile crm, virtual assistant, automated feedback management, real time feedback, social conversations, social campaigns, social profiling, audience management, CTI, active context management, one touch escalation, single view of customer
banner-image: /images/pages/products/channels/banner-channels.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma Omni-channel</h1>
    <p class="cmc-article__subtitle">Omni-channel Customer Engagement</p>
    <p class="cmc-article__intro-p">Communication silos get dissolved as the solution serves as a unified platform for removing all barriers to smooth and efficient communication within and outside the enterprise.</p>

    <p>This makes it easier to track customers across channels and meet their service expectations. Talisma offers an integrated platform for a true Omni channel experience across traditional, digital and social channels.</p>

	<h2 class="secondary-header--alt">Serve Customers on Their Terms</h2>

    <p>Customers can engage your organization and services using their preferred communication channels, whether they are digital channels (like Email, Web portal, SMS text, Mobility, Chat, Instant Messaging), or traditional channels (like Phone, Face-to-Face interactions, and Letters).</p>

    <p>The key to effective customer engagement is having a complete history of interactions across these touchpoints whenever a customer contacts you.</p>


</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <div class="info-box-list info-box-list--single">
        <div class="info-box">
            <h2 class="info-box__title">Choose which communication channels and applications to add to the
                platform:</h2>
            <div class="info-box__content-wrapper info-box__content-wrapper--left">
                <div class="layout__column">
                    <p>Talisma Web Services offers a family of application programming interfaces (APIs) that
                        extends the capabilities of your academic and administrative environment quickly and cost
                        effectively.</p>

                    <dl>

                        <dt>Talisma Chat</dt>
                        <dd>Talisma Chat enables organisations to communicate in real time with visitors to their Website using powerful text dialogue. Agents can interact concurrently with multiple visitors while delivering personal and immediate attention to enhance the visitor’s online experience. Increase productivity and customer satisfaction with Talisma Chat, employees have single-click access to a unified view of all previous customer interactions from any communication channel. They can quickly respond to enquiries using a knowledgebase of FAQs, response templates, Web links, and documents. Talisma chat comes in 3 variants - proactive, reactive and virtual.</dd>

                        <dt>Talisma Co-browse</dt>
                        <dd>Allows you to accept any co-browse request without the need to download plugins and ensures a secure connection with recording facility for auditing purpose. Some key benfits are: Assist customer form filling, smoothen on-boarding for new customers, deliver engagement-driven demos and pilots.</dd>

                        <dt>Talisma Email</dt>
                        <dd>Talisma Email is a robust and scalable solution that helps organizations to simplify and streamline the management of high volumes of emails and deliver timely, accurate responses to customer email enquiries. With its intuitive user interface and powerful productivity tools, Talisma Email enables organizations to provide an exceptional customer experience with every interaction.</dd>

                        <dt>Talisma Phone</dt>
                        <dd>Enabling improved call handling and accelerated response times, Talisma Phone facilitates agent productivity and long-term customer satisfaction. With advanced features and enhanced capabilities, Talisma Phone empowers service staff to efficiently manage large volumes of inbound and outbound telephone interactions and enhances the customer interaction experience.</dd>
                    </dl>
                </div>
                <div class="layout__column">
                    <dl>
                        <dt>Talisma Social Media</dt>
                        <dd>Monitor and analyse social sentiments to influence conversations and enrich experience via social mediums. Power your social media command centres with the abiity to bring all interactions in one central system for servicing and engagement. Run social campaigns across social media platforms integrated with the Talisma workflow engine.</dd>

                        <dt>Talisma Text Messaging</dt>
                        <dd>Text messaging has become one of the most popular communication methods for customers. Fast and cost effective, Talisma text messaging lets you run campaigns and serve alerts with both in-bound and out-bound flow of information. Talisma text messaging can be used by any department to immediately follow-up an email or print campaign. This ensures broader delivery of important notifications. Combine with Talisma Campaigns to send out SMS campaigns, track responses, and trigger actions based on response.</dd>

                        <dt>Talisma Mobile</dt>
                        <dd>Talisma Mobile is designed to help businesses harness the power of mobile devices and data on the move. Your sales and service agents can meet customers, service their request, add or update data about them, take sales/service feedback and even take a picture of them. Further with the geo tagging facility, site visits can be planned, executed and authenticated with ease.</dd>

                        <dt>Talisma Self-Service Portal</dt>
                        <dd>Deliver personalized content in a self-service mode to customers and partners. Portals allow organizations to plug in content and gadgets of their choice from almost anywhere using web part technology, with flexible drag and drop options for organizing content delivery.</dd>

                        <dt>Talisma Knowledgebase</dt>
                        <dd>Provides a real-time repository of information for content management. Customers and internal agents can locate answers to questions round the clock via the Web site.</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
