---
# <!-- @formatter:off -->
title: Resource Library
banner-image: /images/pages/products/talismaProductIcon.gif
show-in-left-nav: false
additional-scripts:
  - src: /scripts/commons--bsapps.js
    inline: false
  - src: /scripts/page--s3-doc-list.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<script>
    var s3DocListPreloadData = [];
</script>
<div class="cmc-article">
    <h1 class="app__title">Resource Library</h1>
    <section
        id="s3docListApp"
        class="app"
        data-doctype="product-sheets"
        data-site="talisma"
        data-group="en-in"
        data-menu-text="Select Type"
    >
        <div class="loading--placeholder">Loading...</div>
    </section>
</div>

{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
