@import 'components/products-and-solutions';
@import 'components/link-box';

// scss-lint:disable QualifyingElement
a.info-box__link {
    border: 2px solid $font-color-icon;
}

.cmc-article__link,
a.cmc-article__link {
    background-color: $theme-secondary;
}

// scss-lint:enable QualifyingElement

.cmc-footer {
    padding-bottom: rhythm(1);
}

.cmc-footer__contact-links {
    margin-bottom: rhythm(1);
}

// scss-lint:disable IdSelector SelectorFormat
#navMenuItem_customersupport > .left-nav-menu__list,
#navMenuItem_aboutus > .left-nav-menu__list {
    @media (min-width: $screen-md-min) {
        top: auto;
        bottom: 0;
    }
}

// scss-lint:enable IdSelector SelectorFormat

.link-box--portugal .link-box__title,
.link-box--uae .link-box__title {
    margin-bottom: rhythm(1);
}

.partner-list-app .horizontal-menu__wrapper {
    display: none;
}

.headroom--top.headroom--pinned {
    position: relative;
    + .layout__bg--main {
        margin-top: rhythm(1);
        @media (min-width: $screen-md-min) {
            margin-top: rhythm(2);
        }
    }
}

.headroom + .layout__bg--main {
    margin-top: rhythm(4);
    @media (min-width: $screen-md-min) {
        margin-top: rhythm(5);
    }
}

.list--checkmark-bullet li {
    background: url(/images/pages/products/box-checkmark.png) no-repeat left 3px;
    padding-left: rhythm(2);
    margin-bottom: rhythm(0.3);
    list-style: none;
}

.left-nav-menu__list.sf-js-enabled .left-nav-menu__list .left-nav-menu__list-item a {
    &:after {
        top: 50%;
        transform: translateY(-50%);
    }
    @media (min-width: $screen-md-min) {
        @include adjust-leading-to(0.6);
        padding-top: rhythm(0.3);
        padding-bottom: rhythm(0.3);
    }
}

.cmc-footer__copyright-row {
    clear: both;
}

// scss-lint:disable IdSelector SelectorFormat
#navMenuItem_omnichannel a,
#navMenuItem_businessintelligence a,
#navMenuItem_businessprocessmanagement a,
#navMenuItem_service a,
#navMenuItem_sales a,
#navMenuItem_marketing a,
#navMenuItem_actionableintelligence a {
    padding-left: rhythm(1.5);
    background-color: $theme-tertiary-light;
    &:before {
        content: '\2013\00a0\00a0';
        display: inline-block;
        float: left;
        margin-bottom: 1px;
    }
    &:hover {
        color: $left-nav-button-text;
        background: $left-nav-bg;
    }
}
// scss-lint:enable IdSelector SelectorFormat

