@import 'cmc-site/app/styles/common-imports';
@import 'base/variables';

// scss-lint:disable QualifyingElement
.home-page-carousel__link-list a,
a.home-page-events-item__details-link,
a.products-and-solutions-item__details-link,
a.info-box__link,
a.link-box__link {
    background-color: $theme-secondary;
}

.layout__bg--main {
    margin-top: rhythm(1);
    @media (min-width: $screen-md-min) {
        margin-top: rhythm(2);
    }
}
