<div class="layout__bg--main">
    <main tabindex="-1">
        {{{block "body"}}}
    </main>
</div>

{{{block "after-body"}}}

{{#if (content "link-boxes")}}
    <div class="layout__bg--link-box">
        <ul class="link-box-list">{{{block "link-boxes"}}}</ul>
    </div>
{{/if}}

{{{block "after-link-boxes"}}}
