$logo-retina-sprite-group: $talisma-logo-group;

$theme-primary: #A71A0E;
$theme-primary-light: #E12313;
$theme-primary-dark: #A71A0E;
$theme-secondary: #0073AE;
$theme-tertiary: #8E99A8;
$theme-tertiary-light: #748294;

$font-color-link: $theme-primary-dark;

$home-page-events-header-bg-color: $theme-primary-light;
$home-page-events-header-bg-color-alt: $theme-primary-dark;
$home-page-carousel-active-indicator: $theme-primary-dark;
