---
# <!-- @formatter:off -->
title: Establishing an intelligence context for customer experience – engaging the empowered customer
banner-image: /images/pages/products/talismaProductIcon.gif
author: Lenny Schloss
publish: 2015-01-22
# private: false
lastmod: 2014-12-01
category:
  - CRM Software
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <header>
        <img class="cmc-article__article-image" src="{{banner-image}}"/>
        <p class="cmc-article__title">By {{author}} on {{blog-format-date publishFormatted}}</p>
        <h2 class="cmc-article__subtitle">{{title}}</h2>
        { { > blog-category-list}}
    </header>




    <p>For businesses, good customer experience is increasingly about a broader set of values that incorporate elements
        from marketing and on-boarding to an ongoing, after-sales relationship. But with customer engagement becoming an
        increasingly complex proposition from a bottom-line stand point, the need to have deeper insights (beyond
        perception) into every engagement element is now more essential than ever.</p>

    <p>Customer intelligence is more than complex data interplay and ensuing analytical interpretation. Successful
        intelligence gathering and application strategies hinge on the ability to define relevant information, identify
        the right channels and data collection and analysis methods. It should also include an ability to forecast
        customer engagement dimensions and improve customer satisfaction and retention.</p>

    <h3 class="secondary-header--alt">Customer intelligence challenges</h3>

    <p>Gathering and analysing customer data presents many challenges such as:</p>
    <ul class="list--normal list--has-lead-in">
        <li>Defining intelligence - identifying sources and nature of data, marking boundaries, processing means and
            working on improving data quality while keeping data ready for information harvesting.
        </li>
        <li>Product innovation – processing data to gather key insights that can feed into customer relationship\product
            management.
        </li>
        <li>Improving sales and marketing effectiveness – acquiring a complete perspective of marketing campaigns to
            enhance messaging and promotion decisions to avoid a decline in effectiveness of marketing and promotion
            activities.
        </li>
        <li>Scenario evaluation - Assessment of plausible and non-plausible scenarios is needed to decide on a
            particular action to be taken by an operational manager. For e.g., if brand manager changes amount of money
            spent on advertisements, what would be the impact on sales?
        </li>
        <li>Improving customer experience - deciding on which data threads will be used to deliver better customer
            experience and channelling those streams to decision makers and operational managers.
        </li>
        <li>>Marketing chain visibility – Visibility at every level of marketing operations.</li>
    </ul>

    <p>At an enterprise level, such challenges can be tackled by outlining a strategy that works to align data gathering
        and consumption with customer experience goals. </p>

    <p>Customer intelligence can optimize customer data and connect all stakeholders' interests while unifying the
        perspective of all managers. It synchronises customers' views, reactions, and engagement outcomes with the
        company's behaviours and outcomes. &nbsp;For a company, this is definitely a high-impact business context. </p>

    <h3 class="secondary-header--alt">Developing a customer intelligence plan </h3>

    <p>Identify patterns: derive intelligence from data by interpreting correlations, trends, patterns and causes.</p>

    <p>Characterize customer experience: defining customers by what they are "trying to get done".</p>

    <p>Enable proactive management: coordinating real-time intelligence and anticipating customers' needs.</p>

    <p>Customer intelligence should inspire improvement and innovation in the customer experience and that is just one
        of the ways in which processed data can add value. Strategy savvy organisations are overcoming silos and data
        gaps to maximize their return on customer intelligence investments. They are working towards weaving a customer
        experience context for all interactions. They are also deploying customer intelligence to innovate in areas
        having implications far beyond customer engagement such as analyst relations for instance. Finally, they are
        enabling institutional learning by sharing, showing actionable patterns, focusing on what customers are trying
        to get done, and being proactive in enabling customers to transform into product and brand advocates.</p>

    <h3 class="secondary-header--alt">Transforming intelligence into experience </h3>

    <p> Depending on the way a service provider uses data, its growth may follow either of these two trajectories. One –
        a service provider that uses data at an engagement level and constantly fine tunes customer engagement
        strategies, approaches, contexts, communication, employee training and post-service engagement methods may find
        a proportionate increase in new and cross sell rates. A competitor that uses data merely to deliver better
        customer service may be exposed to inconsistent growth with periodic failures in meeting customer expectations
        due to experience gaps. </p>

    <p>It is therefore essential to convert the experience gained into learning and incorporate the learning into the
        customer experience using machine learning. Smart machines can then help the system incorporate the feedback
        from every engagement aspect to improve the quality of experience while bringing in the desired degree of
        predictability.</p>
</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__container">
    <a href="/blog/" class="blog-home-link">Blog Home</a>
    { { > quick-launch--blog-archive}}
    { { > quick-launch--blog-categories}}
</div>
{{/content}}

{{/extend}}
