---
# <!-- @formatter:off -->
title: Campus Management Names Rob Sparks as Chief Marketing Officer
publish: 2016-09-26
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p class="pharagraphTextHeading"><b>New CMO Charged with Expanding Company’s Leadership Position Globally</b></p>

    <p><b>Boca Raton, Fla. – September 26, 2016</b> – Campus Management Corp., a leading provider of enterprise
        software, solutions and services for higher education, announced today that Rob Sparks joins the company on
        October 3 as Chief Marketing Officer. In this role, Mr. Sparks will utilize his extensive higher education
        expertise to help the Company extend its leadership position globally.</p>

    <p>“Rob has a deep knowledge of higher education and the technology necessary for institutions to transform and
        succeed in today’s competitive and challenging market,” said Jim Milton, CEO at Campus Management. “His
        leadership in the industry – providing technical and functional direction, while implementing strategies across
        multiple continents – makes him uniquely qualified to drive growth and increased awareness of Campus
        Management’s solutions with additional institutions, education systems and countries.”</p>

    <p>“With a footprint that spans 19 countries around the world, Campus Management is working closely with
        institutions and governmental agencies to transcend barriers in providing career and tertiary education to a
        variety of workers and students,” said Sparks. “This approach, supported by the breadth and depth of the
        CampusNexus® suite, is truly transformative to individuals, colleges and universities and nations. Campus
        Management has a strong reputation for delivering innovative solutions and services that support learners within
        our communities and across the world; I am proud to join a team that is focused on our academic institutions and
        the communities they serve.”</p>

    <p>Mr. Sparks began his career at George Brown College in Toronto, Canada, as an Institutional Research Officer. He
        joined Systems and Computer Technology in 1998 and, over a 14 year career, worked in a variety of roles in
        Europe, the Middle East and North America. Mr. Sparks was promoted to VP, Product Management, International,
        with the new parent company, Ellucian, and helped establish the product strategy for international markets. His
        next global assignment was in the United Kingdom as VP, Product Management and Strategy, at Unit4 Business
        Software for Education and Research. Most recently, Mr. Sparks has served as SVP, Partner Support, at Academic
        Partnerships where he was responsible for the implementation and operational support for public universities’
        accelerated online program management. Mr. Sparks is a graduate of Carleton University in Ottawa, Ontario.</p>

    <p><b>About Campus Management Corp.</b><br/>

        Campus Management is a leading provider of technology solutions and services that transform higher education
        institutions. Its next generation suite, CampusNexus®, includes enterprise-wide Student, CRM, and Finance, HR
        &amp; Payroll solutions. Today, more than 2,000 campuses in 19 countries partner with Campus Management to
        transform academic delivery, student success and operational efficiency.</p>

    <p class="legalText1"><b>Company Contact</b><br/>
        Karli A. Grant<br/>
        Director, Product Marketing<br/>
        Campus Management Corp<br/>
        (561) 999-3592<br/>
        kgrant@campusmgmt.com</p>


</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
