---
# <!-- @formatter:off -->
title: CEM The Next Big Frontier
publish: 2013-05-30
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">BusinessWorld, 30 May, 2013</span> - In a service driven economy, customer
        experience is king.</p>

    <p>Did you ever imagine that somewhere your customer is realising an experience with your brand? And this realisation
        will soon turn into an opinion where you will be able to lock in your customer for a few more transactions. Today,
        we are living in a world where customer choices are increasing by the second and customer loyalty turning into a
        wish. So does customer experience management (CEM) offer a way out for organisations to remain profitably engaged
        with customers? Let’s find out.</p>

    <p>CEM can be defined as managing customer interactions to build brand equity and improve long-term profitability.
        Businesses are discovering a strong connection between loyalty and customer experience. Today, CEM solutions are a
        competitive necessity. By reporting actionable intelligence, customer experience programs can optimise an
        organisation&#39;s customer service to give it a more competitive edge and create a more loyal customer base.</p>

    <p>Traditionally CRM systems have helped firms understand customers. They have also helped unify customer information
        and offer an overarching view. CRM is mostly about transactions and is operationally focused on profiling the
        customer and collecting data for cross sell. More often than not, CRM is aligned with the company’s objectives and
        not necessarily to customer preferences. On the other hand, CEM is all about the customer and by using the right
        blend of systems, processes and infrastructure, it seeks to improve the customer’s experience with the company as an
        entity.</p>

    <p>Ovum research suggests that with an increase in IT spending of 3.4 per cent, CIOs of the $118- billion IT industry
        are focusing on customer satisfaction and revenue growth. Moreover, a Forrester survey reports that in 2013, online
        retailers will get back to basics: By focusing on strategies and tactics to improve the customer experience, they
        will strive to increase loyalty and Web conversion across all devices.</p>

    <p>In a service driven economy, the importance of customer experience cannot be underestimated. CEM adds a level of
        emotion to a product or service hitherto absent. In today’s markets, brands that succeed are the ones that draw on
        positive customer experience. So if you get it right, the rewards include loyalty and evolution of word of mouth
        brand ambassadors who can do lots of good for your product or service and ultimately improve profitability.</p>

    <p>Customer experience strategy, design and execution will soon become a company’s core competency as well as a core
        tenet of every organisation’s culture. The more interactions an organization will have with its customers, the
        deeper the relationships they’ll create.</p>


    <h2 class="secondary-header--alt">CEM Roadmap</h2>

    <p>Every customer interaction can lead to an experience. Customers sub consciously or otherwise organize a series of
        clues into a thought stream that finally feed into a set of impressions. Customer might sense or perceive or feel
        the absence of certain things and every product or service or the employee or the environment in which the offering
        is delivered offers vital clues for that are compiled in the mind of the customer and ultimately metamorphoses into
        an experience. Every interaction carries a clue within itself.</p>

    <h2 class="secondary-header--alt">Listen</h2>

    <p>To the voice of the customer on a channel of her choice. Emotions constitute the bulk of any experience and by
        running proactive customer connect programs, customer perceptions should be collated, measured, analysed and
        addressed. Embed business analytics tools can help organizations look at transactional behaviour, purchase cycles,
        scope for reference and service expectations.</p>

    <h2 class="secondary-header--alt">Create Benchmarks</h2>

    <p>Establish performance indices to study progress towards CEM. Select key indicators to study the impact that a CEM
        programme is having on your customers. By implementing a best-practices driven CEM framework and incorporating
        customer feedback, organizations can establish minimum customer satisfaction levels and work towards raising it at
        periodic intervals.</p>

    <h2 class="secondary-header--alt">Target Multiple Channels</h2>

    <p>The more channels you target, the more chances are that you will hear from your customers. Any medium that allows or
        even incentivizes feedback should be on your radar.</p>


    <h2 class="secondary-header--alt">Collate Best Practices And Knowledge</h2>

    <p>To offer a consistent experience and evolve a decision support framework in the organization. The data collected
        should be used to measure the impact various decisions are having on customer satisfaction and whether the
        organization is now in a position to leverage cross sell and up sell opportunities.</p>

    <h2 class="secondary-header--alt">Actionable Insights</h2>

    <p>Any changes in customer behaviour, buying preferences or even lack of interaction must be studied and analyded to
        gain actionable insights that feed into the decision making framework to carry the customer experience forward.</p>

    <h2 class="secondary-header--alt">Incentivise CEM Among Employees</h2>

    <p>Connect employee incentives to customer satisfaction. Employee training programs are an integral part of a CEM
        initiative. Every employee is a stakeholder when it comes to customer satisfaction and needs to be primed towards
        understanding customer needs and doing their bit to improve customer satisfaction. Brand managers also need to give
        realtime feedback to employees on brand health in the market. This will help them understand the significance of
        their roles in managing customer’s perception of their product and brand.</p>


    <div class="press-release__contact">
        <span class="press-release__contact__title">Raj Mruthyunjayappa</span>,
        Managing Director APAC &amp; EMEA, Talisma Corporation
    </div>


</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
