---
# <!-- @formatter:off -->
title: Creating better cross-channel experiences
publish: 2015-05-09
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>
    
    <h2 class="secondary-header--alt">What just-out-of-business-school entrepreneurs must keep in mind</h2>

    <p><span class="press-release__date-location">The Finacial Express, May 9, 2015 - Raj Mruthyunjayappa</span> - Good customer experience is, more often than not, about a broad set of values that incorporate elements from marketing and on-boarding to an ongoing after-sales relationship. With sustained customer engagement becoming an increasingly complex proposition from a bottom-line standpoint, the need to have a digital cross-channel strategy to render consistency of experience is now more essential than ever.</p>

    <p>To grab the attention of today’s empowered customers, businesses should be able to connect, engage, service and gather their feedback on many channels simultaneously. As customers switch seamlessly, businesses need to demonstrate agility to continue conversations on many channels. They must keep in mind that continuity adds layers of customer confidence to a brand.</p>

    <p>Your customer experience is only as strong as your weakest channel. We have seen instances of companies focusing on cost-effective channels while ignoring the ones where the cost of engagement is high. In such instances, it is advisable to close channels which are a drain on margins or where you cannot deliver an assured level of service. In times when word of mouth and online reviews are gaining prominence, it makes sense to ensure service continuity and assurance which, in turn, will improve brand confidence.</p>

    <p>Offering a unified customer experience across channels requires applications, processes, workflows and digital means to monitor customer interactions. Conversions can be one parameter that can be measured. But to deliver a channel-agnostic customer experience, businesses need to have a single view of the customer.</p>

    <p>Understanding the buy cycle along with changing preferences across each stage of the customer’s journey is essential. A customer who buys from a channel may contact you on a different one when she has a query. There is no way of predicting a customer’s preference, so it’s better to invest in offering a seamless experience while leveraging the inherent strength of each channel. Many businesses ask customers to install apps that offer an environment for offering a seamless customer experience. Web- and phone-based transactions account for a major chunk of all customer interactions. Apps offer an opportunity to study and understand customers better and the insights generated can be used to improve customer experience on other channels.</p>

<p>Businesses should also allow customers to define the nature and context of the experience being created. By adopting this approach, the onus for creation of unified and consistent experience shifts to the customers and businesses can step back and focus their energies on meeting the expectation that arises out of those interactions. With customers in control of their data and engagement, repeat purchases may become the norm.</p>

<p>As far as rendering a loyalty-enhancing experience is concerned, businesses and young start-ups must keep a few things in mind.</p>

<ul class="list--normal list--has-lead-i">
<li>Study strengths and weaknesses of each channel and identify areas for experience optimisation</li>
<li>The customer should be able to digitally engage with the channel options based on her preferences for desired outcomes</li>
<li>Each channel should be able to offer the same view of the customer</li>
<li>Make product reviews/service available on your website</li>
<li>A touchpoint should be aware of what transaction a customer is carrying out on another touchpoint</li>
</ul>

<p>Delivering a seamless and unified channel experience is not an option but an imperative. While it represents better customer experience for the customer, for the enterprise, especially an emerging one, it represents an opportunity to take a leap in terms of technology, processes and operations. This approach is an opportunity to showcase customer experience maturity. It is an opportunity that no business can afford to miss.</p>

<h2 class="secondary-header--alt">About Raj Mruthyunjayappa</h2>
    
<p>Raj Mruthyunjayappa is Managing Director, APAC and EMEA at Talisma Corporation.</p>



</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
