---
# <!-- @formatter:off -->
title: CRM has become a key KRA for executives
publish: 2015-12-08
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">CIOL.com, Dec 8, 2015 - Sonal Desai</span> - Traditionally, CRM systems have helped companies understand customers. They have also helped unify customer information and offer an overarching view. Typically, CRM is aligned with the company’s objectives and not necessarily to customer preferences.</p>

    <p>But with changing times, where KRAs are set based on customer experience, CRM is gaining prominence. Raj Mruthyunjayappa, Managing Director, APAC and EMEA, Talisma, in an interview with CIOL, explains the changing scenario.</p>
    
    <h2 class="secondary-header--alt">How important is CRM for enterprises today?</h2>

    <p>From a traditional tool used by businesses, CRM or customer relationship management has become a key KRA for executives.</p>

    <p>According to me, CRM is a tool to help you create and develop your relationship with your customer. With the increasing importance of CRM, executives are adapting to newer ways of receiving information. They are recognizing CRM as a major organizational change initiative. Most companies understand that CRM is not completely about managing customers but about placing the customer at the center. The CEO’s vision hence becomes fundamental in maximizing an organization’s CRM success.</p>
    
    <h2 class="secondary-header--alt">If one has to cut the chase, e-commerce and online market places are largely responsible for this shift in customer behavior and increased focus on customer experience. What are the some of the other noteworthy trends you have observed?</h2>

    <p>Lot of emphasis is being paid to gathering and analyzing customer data. In many instances I have come across companies which gather gigabytes of data on how a particular customer is using a service but are not using the data to do anything.</p>

<p>For example, look at the data that is captured in a typical bill that you receive at the end of a month. There is so much information available there for companies to use. If not for anything else, just to know more about customers to make future transactions more convenient.</p>

<p>We are witnessing a change in demographics with increasing population of digital natives. So word of mouth and peer group influence are now becoming a significant factor in deciding the direction that brand relationship takes.</p>

<p>In the coming years, there is a need to accomplish three key objectives: personalized and interactive engagement, accessibility without barrier and increased collaboration and sharing.</p>

<p>The direct impact of what your customer gets and his or her experience impacts not only the omni-channel (including the entire value chain), but the biggest gainer or loser is the brand… Brands are among the biggest assets that a business can own. In fact, I feel brands are assets that are jointly owned by companies and their customers.</p>

<p>When a brand is owned only by a company, it just shows that the brand has not connected well enough with customers. So when so much is at stake it is a forgone conclusion that companies will go to any extend to further their brandwidth. Ultimately the sum total of all interactions with a company contributes to an experience and a sum total of all experiences including inputs from one’s social circle and influences is what forms a brand at a virtual level. So good experiences strengthen the brand while bad ones lead to customers withdrawing their part of brand ownership leading to reduced brand strength.</p>

<p>Some of our customers like Sony, Vodafone, IndusInd Bank, Jet Privilege and ITC Hotels see plenty of value in the customer experience that is delivered through our solutions.</p>

<h2 class="secondary-header--alt">Which are the key industries or front runners who have adopted customer experience as a part of their well-planned strategy? What are the specific business outcomes they have seen?</h2>

<p>Retail and hospitality come to mind in this context. I won’t name specific players here.</p>

<p>Just a few years back, there was an airline in the Indian aviation sector which showed lot of promise on the customer experience front. It is no longer around but it has left its mark on the sector as a whole. That is the kind of impact a well-defined customer experience strategy can have. Even today, people remember that airline when it comes to defining customer experience in Indian skies.</p>

<h2 class="secondary-header--alt">A lot of start-ups have mushroomed who are providing customized services in this space. Are they are threat to you?</h2>

<p>No. We are growing at 30 percent with new sign-ups across geographies with more feet on the ground.</p>

<p>Market traction for our products is growing and this is a consistent trend we have been witnessing in the last few years.</p>

<h2 class="secondary-header--alt">What is the advice you would give CIOs or the CXOs who are looking at transforming the customer experience?</h2>

<p>Some of the suggestions include:</p>

<ul class="list--normal list--has-lead-i">
<li>Talk to customers as often as you can</li>
<li>Always keep a line open for conversation</li>
<li>Talk to listen and not to sell</li>
</ul>

<p>Sales will happen if your customer is engaged with your brand. You cannot define a customer experience without knowing about your customers.</p>

<p>One recommendation would be to map customer journeys to identify the best possible customer experience that can be rendered across all the phases of engagement. This is a better approach to adopt rather than a piece-meal or a siloed one that is defined by departments and varies across channels or transactions.</p>

<p>A unified and consistent customer experience narrative strengthens brand confidence.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
