---
# <!-- @formatter:off -->
title: Gimme More, says the Customer
publish: 2013-09-09
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">IT Next, 9th September 2013</span> - The true CEM strategy can be
        portrayed if enterprises deliver positive and meaningful customer interactions</p>

    <h2 class="secondary-header--alt">Why CEM?</h2>

    <p>CEM and CRM are fundamentally different from each other. CRM is a concept that brings different elements together
        such as business strategy, technology and customer relationships. Traditionally, CRM systems have helped firms
        understand customers. They have also helped unify customer information and offer an overarching view. CRM is mostly
        about transactions and is operationally focused on profiling the customer and collecting data for cross-sell. More
        often than not, CRM is aligned with the companys objectives and not necessarily to customer preferences. On the
        other hand, CEM is all about the customer and by using the right balance of systems, processes and infrastructure,
        it seeks to improve the customers experience with the company as an entity.</p>

    <p>CEM is a two-way process that provides customers a clear understanding of a companys offerings and helps executives
        and managers understand how rapidly customers can form an opinion about the company and act appropriately to either
        leverage an opportunity or address a grievance.</p>

    <h2 class="secondary-header--alt">Steps to Treat it differently</h2>

    <p>The differential treatment of CEM can be reflected if customers share their feedback on every interaction, if
        possible with their service providers. The feedback neednt be restricted to instances of bad or unacceptable
        customer service but should also cover every facet of the interaction. By providing feedback, customers can put the
        onus of change on the service provider and also expect better service that is in line with their expectation. It is
        not advisable for customers to switch service providers without giving them a chance to address their
        grievances.</p>

    <h2 class="secondary-header--alt">Processes that impact CEM</h2>

    <p>It is important for corporations to empower customer experience management (CEM) to the customers in achieving
        complete front-back office integration to gain a unified customer view. The CEM approach enables our customers to
        leverage our domain strengths--strategy and consultancy, vertical-specific best practices and ready-to-deploy
        software along with implementation services to seamlessly transition to a comprehensive CEM regime.</p>

    <p>To develop a CEM strategy, institutions need to work towards modifying interaction deliverables which is meaningful
        in the operational context of the customer, hard to replicate and distinct from the competition.</p>

    <p>CEM places emphasis on increasing customer participation by giving the customer more incentives to provide feedback.
        Customer feedback has to be collected at the most micro level possible and offer management a clear understanding of
        the drivers for customer experience and act on them immediately to bring forth perceivable change. CEM offers what
        CRM was originally intended to offer: positive returns by measuring customer experience through a combination of
        finely calibrated analytics and decision metrics.</p>

    <h2 class="secondary-header--alt">Approach to Reality</h2>

    <p>There are two basic approaches that one can adopt. One starts from within and one from outside. In the former,
        everything including people, products, processes, transactions, QA and interactions leading up to the customer touch
        point is reviewed and reoriented with the end customer in mind. In the latter, an outside-in approach is adopted
        where the starting point is the customer and the end point is the last post in the organisation. Irrespective of
        where you start, your end goal still is to engage your customers at various levels and connect emotionally with
        them.</p>

    <p>Emotions constitute the bulk of any experience. By running proactive customer connect programs, customer perceptions
        can be collated, measured, analysed and addressed. Embedded business analytics tools can help institutions look at
        transactional behaviour, purchase cycles, scope for reference and service expectations. Broadly, two approaches can
        be adopted.</p>

    <h2 class="secondary-header--alt">Create Benchmarks</h2>

    <p>Establish performance indices to study progress towards CEM. Select key indicators to study the impact that a CEM
        programme is having on your customers, specifically if it has a tangible impact on the relationship. By implementing
        a best-practices driven CEM framework and incorporating customer feedback, institutions can establish baseline
        customer satisfaction levels and work towards raising them at periodic intervals.</p>

    <h2 class="secondary-header--alt">Target Multiple Channels</h2>

    <p>The more channels you target, the more the chances that you will hear from your customers. Any forum, social media
        site, event, newsletter or any medium that allows or even incentivises feedback should be on your radar. As
        mentioned earlier, the focus should be on gaining a single view of the customer across channels and transactions.
        Business analytics can again help here.</p>

    <h2 class="secondary-header--alt">Collate Best Practices and Knowledge</h2>

    <p>Employing best practices ensures a consistent customer experience and helps build a support framework in the
        organisation. The data collected should be used to measure the impact various decisions are having on customer
        satisfaction and whether the institution is now in a position to leverage cross-sell and up-sell opportunities.</p>

    <p>Any changes in customer behaviour, buying preferences or even lack of interaction must be studied and analysed to
        gain actionable insights that feed into the decision-making framework to carry the customer experience forward.</p>

    <h2 class="secondary-header--alt">Incentivise CEM among Employees</h2>

    <p>Connect employee incentives to customer satisfaction. Employee training programmes are an integral part of a CEM
        initiative.</p>

    <p>Segment customers based on common characteristics and beyond. Once a CEM maturity level is attained, institutions
        should focus on delivering personalised experiences to customers based on demographics, buying preferences, delivery
        channel and, most importantly, profitability.</p>

    <h2 class="secondary-header--alt">Quantifiable Benefits</h2>

    <p>Metrics can be put in place to measure the effectiveness of CEM initiatives. Even a robust voice of customer
        initiative can deliver much needed insights and offer scope of evaluating brand health. In addition, engagement
        measurement programs can be implemented at various customer touch points to measure the depth of engagement. It may
        be remembered that a key outcome of any CEM program is greater accountability and transparency across the
        organisation. To facilitate this, institutions need to put in place a simple framework that measures the CEM
        orientation of various individuals and groups who are connected with customer facing processes directly or
        indirectly. Online feedback and sentiment analysis on social media can also reveal a lot.</p>

    <p>Todays rapidly changing business landscape demands enhanced, integrated solutions that employ new and emerging
        technologies and simplify the process of managing customer experience across the enterprise. Organisations are
        seeking cost effective ways to turn customer experience management into a competitive differentiator. They are also
        looking for organised and automated business processes that enable reduced workflows and increased marketing, sales
        and service activities with a personal touch resulting in reduced operating costs and higher revenues.</p>

    <h2 class="secondary-header--alt">How do Business Functions Perceive CEM?</h2>

    <p>In a world driven by ever changing market and customer priorities, acquisition, retention, loyalty and satisfaction
        are keywords for a customer management strategy.Though CEM initiatives can be owned by a single group, the programme
        has multiple stakeholders within (lines of business) and outside the organization (vendors). Organisations that are
        driven by a clear and well defined vision are the ones that steal a march over their counterparts who are process
        and transaction driven. In addition to a vision, organisations need to put in place ideal customer engagement
        scenarios and grading that provide scope for improvement and reward internal stakeholders who have worked
        successfully towards enabling a benchmark customer experience.</p>

    <div class="press-release__contact">
        <span class="press-release__contact__title">Raj Mruthyunjayappa</span>,
        Managing Director APAC &amp; EMEA, Talisma Corporation
    </div>



</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
