---
# <!-- @formatter:off -->
title: IIM-Udaipur Selects Campus Management As Its Exclusive Education Software Provider
publish: 2013-06-25
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">Biztech2.com, 25th June, 2013</span> - Campus Management Corp., a provider of enterprise software products and
        services for higher education, has announced that Indian Institute of Management, Udaipur has selected Campus
        Management as its software provider for supporting its academic experience management needs. Selected solutions from
        the CampusVue Ecosystem include CampusVue Student, Talisma CRM, CampusVue Portal, CampusVue Finance, CampusVue HR,
        and a variety of application programming interfaces (APIs).</p>

    <p>After a comprehensive evaluation process covering global higher education technology vendors and their solutions,
        IIM-Udaipur selected Campus Management as its exclusive education software provider. In evaluation areas such as
        functionality, configurability, scalability and integration capabilities, Campus Management’s suite of software
        solutions fulfilled the requirements stipulated by IIM-Udaipur’s evaluation committee. IIM-Udaipur also considered
        Campus Management’s experience in arming leading academic institutions across the globe with solutions aligned to
        their academic and student engagement vision.</p>

    <p>“Because of Campus Management’s footprint in the Higher Education space, they understand our technological and
        functional needs. We are confident the selected solutions will enable us to better streamline the student life cycle
        right from admissions to alumni relations,” said Janat Shah, Director, IIM-Udaipur. “We are poised to increase our
        intake and rollout newer programs for our increasing student base and we’re seeking solutions that align to our
        vision of academic excellence. Campus Management’s offerings met our needs, which made them the right fit for our
        institution.”</p>

    <p>“We see ourselves as IIM Udaipur’s long term technology partner. Our suite of solutions is just one of the avenues
        through which we will be enhancing our mutual technology partnership. As IIM Udaipur grows and expands its academic
        footprint and student base, we will work with them to support their expansion. We bring to this partnership our
        world class suite of products, our leadership in the higher education technology space and our commitment to assist
        IIM Udaipur meet its evolving Information and Communication Technology (ICT) needs at a faster pace,” said Raj
        Mruthyunjayappa, Senior Executive at Campus Management and Managing Director of Talisma Corporation Pvt. Ltd.</p>


</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
