---
# <!-- @formatter:off -->
title: News and Press
menu-priority: 0.7
additional-scripts:
  - src: /scripts/commons--bsapps.js
    inline: false
  - src: /scripts/page--press-releases.js
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<style>
    .press-release-list__menu .menuItem{
        visibility: hidden;
    }
</style>
<article class="cmc-article">
    <h1 class="app__title">{{title}}</h1>
    <p class="app__sub-title">There's always something innovative going on at Campus Management. Stay up-to-date with all of our latest news.</p>

    {{>press-releases-preload-data}}

    <section id="pressReleasesApp" class="app">
        <div class="loading--placeholder">Loading...</div>
    </section>
</article>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
