---
# <!-- @formatter:off -->
title: India is primed for mobile CRM adoption
publish: 2013-06-07
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">CXOtoday.com, Jun 07, 2013</span> - Customer relationship management (CRM) is set to witness a major shift in the
        coming years. From the traditional CRM solutions, enterprises are moving towards newer CRM models that are
        increasingly relying on mobile, cloud and customer-centric trends. Research firm Gartner predicts that mobile CRM
        apps will grow to over 1,200 by 2014 from over 200 in 2012. It means that the increase in the number of mobile CRM
        apps available for download from App Stores will grow over 500 percent. This in itself speaks volume about the
        growth and adoption of mobile CRM in the coming months. IDC study also shows that by 2015, world’s mobile worker
        population will reach 1.3 billion. Raj Mruthyunjayappa, MD, APAC &amp; EMEA, Talisma Corporation, speaks to CXOToday
        on the CRM imperatives facing enterprises today.</p>

    <h2 class="secondary-header--alt">How primed are Indian enterprises for mobile CRM adoption?</h2>

    <p>Going by the numbers, there is a tremendous potential for the adoption of mobile CRM in India. This will naturally
        increase the need for salespeople, service reps, and managers who are on the road to have mobile phones. Mobile CRM
        helps them to be more productive by offering information on the move thus aiding in making informed decisions in the
        real time. This has forced many businesses to begin using mobile CRM systems to ensure employees have access to
        business critical information out of the office.</p>

    <h2 class="secondary-header--alt">How is cloud integration defining the future Of CRM?</h2>

    <p>When it comes to viewing customers holistically, huge volumes of data gets accrued over time. Also, keeping customers
        happy with concepts such as relationship-based pricing requires flexibility, innovation and a great deal of memory.
        This could be a real concern for institutions. This is where CRM on cloud comes in that offers nearly unlimited
        datacenter. And because cloud solutions are hosted they will be much cheaper and easier to use for SMB institutions.
        CRM on cloud will definitely find more traction in the coming years.</p>

    <p>We think SaaS is a great model of choice for the SMB sector and in time, bring enterprise customers to it as well. We
        see this market growing at 30 percent year-on-year in next three years and from there on we see this market doubling
        every year for next three years.</p>

    <h2 class="secondary-header--alt">How is Big Data changing the way enterprises consume CRM today?</h2>

    <p>CRM has always involved data, but most of it is structured data, such as contact information, latest contacts,
        products bought, etc. With the Big Data techniques it is possible to process, store and analyse massive amounts of
        unstructured data not supplied by the customer, which can be used to gain additional insights. Using Big Data
        technologies, CRM can finally become a true revenue driver.</p>

    <p>However, one must remember that it is not just about data collection but it is also about how to use that data to
        understand customers better and to derive purchase cycles. Insitutions must invest in data analysis and treat it
        with the same enthusisam as data collection.</p>

    <h2 class="secondary-header--alt">What are the focus areas on the opportunities for vendors to develop technologies such as social media analytics
        and behavioral analytics?</h2>

    <p>Social media is the new marketing and outreach channel for businesses. Many want to not only be seen on social media
        but also leverage its unique strengths to launch social campaigns, perform sentiment analyses, zero in on brand
        conversations on social channels etc. Social media is also turning into a traffic generation channel for websites.
        Social CRM is a game changer; and helping businesses do a lot more on social media.</p>

    <p>Social media as a channel does pose interesting challenges for companies as they are no longer in control of the
        relationship and customer interactions. But with a proper social CRM tool, traditional customer relationship
        management practices can be extended to social media and a concerted effort can be made to develop collaborative
        experiences on social media.</p>


    <p>Analytics on the other hand provides insights at a level that was not possible a few years back. Today, it is
        possible to deep dive into transactional and customer interaction data to derive inferences that have a greater
        degree of accuracy and validity. Unlike the past when feedback was the only way of determining customer preferences,
        analytical tools are helping businesses establish buy patterns and preferences that operate at a sub conscious level
        and influence buying decisions.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
