---
# <!-- @formatter:off -->
title: Raffles College of Higher Education enhances its students’ academic experience with CampusVue
publish: 2013-02-04
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">ChennaiLiveNews.com, 4th February, 2013</span> - Raffles College of Higher
        Education (“RCHE”), a subsidiary of Raffles Education Corporation Limited (“RafflesEducationCorp”), the largest
        private education group in Asia-Pacific, has implemented a student-centric computerised system developed by Campus
        Management Corporation to enhance its students’ academic experience in a virtual environment. The sophisticated
        software CampusVue not only expands RCHE’s academic services portfolio, but also empowers RafflesEducationCorp’s
        regional expansion strategies with its network of 33 colleges in 30 cities across 11 countries in Asia-Pacific:
        Australia, Cambodia, China, India, Indonesia, Malaysia, Mongolia, Philippines, Singapore, Sri Lanka and Thailand.
    </p>

    <p>Mr Ong Kai How, Vice President of South East Asia Operations at Raffles College of Higher Education, said, “With our
        growing student population, we needed a high-end product able to support our enlarged operations. One essential
        aspect of CampusVue is its capability to automate workflows that can save considerable time and effort in managing
        student data. We also wanted a comprehensive hosted solution which Campus Management was able to provide.”</p>

    <p>Campus Management will provide RCHE with configurable, easy to use, and cost effective Student Management System with
        embedded Virtual Learning Environment, fully scalable to meet its emergent needs. The solution will integrate with
        RCHE’s existing Customer Relationship Management (CRM) system IPOS to create a complete student lifecycle experience
        right from prospecting the student through to academics management. In the near future, Campus Management may even
        be customized to cater to the specific requirements of specific institutions under the Raffles network.</p>


    <p>“Our partnership with RCHE is a strategic and a multi-dimensional one. Our solutions will enable them to evolve newer
        academic experience benchmarks while we will help RCHE evolve into a responsive campus based on strong and enabling
        technology infrastructure. We are committed to delivering value to RCHE and see ourselves as their strategic
        technology partner,” said Raj Mruthyunjayappa, Senior Executive at Campus Management and Managing Director of
        Talisma Corporation Pvt. Ltd.</p>


    <p>Professor Graeme Britton, Vice President of Raffles University System who oversees the overall quality and curriculum
        of Raffles Education, added, “CampusVue supports the Group’s commitment and determination to offer first-class
        professionally relevant education programmes to equip students to compete successfully within a global economy. On
        successful implementation in Singapore, we will be reviewing CampusVue for roll-out across the Group’s operations in
        Asia-Pacific.</p>


    <p>“This cutting-edge technology would help Raffles College of Higher Education move towards a future where the
        well-being of its students is a prime focus, on top of academic and skills development,” he added.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
