---
# <!-- @formatter:off -->
title: Relevance of CRM in online retail
publish: 2015-02-25
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">ETRetail.com, Feb 25, 2015 - Raj Mruthyunjayappa</span> - The Indian retail landscape is changing rapidly and moving towards greater customer centricity. With the increasing reliance on an omni-channel approach to driving sales, the emphasis on seamless and engaging customer experience is today more relevant than ever. With over 100 million customers expected to shop online by 2018, retailers have their task cut out. Getting a decent slice of this pie could stretch the marketing and customer engagement strategies of even the most entrenched retailers out there.</p>

    <p>CRM has traditionally helped retailers maintain and strengthen relationships. Those days it was all about an email here or an SMS there and periodic database updates. CRM strategies and systems were expected to work towards remembering birthdays, anniversaries and maintain a shopping trail for the retailer to follow. Some were using CRM systems just to handle feedback and service. Today however, CRM systems have evolved and turned more intelligent in line with the evolution of the retail segment as a whole.</p>

    <p>Retailers are relying on individual or multiple CRMs to bond with the customer without sounding “canned”. Personalised experiences are the order of the day – across buying, dormancy and repeat buying cycles. The focus on experience personalisation has led retailers to experiment with newer models of customer involvement and many are talking about co-creation - indeed a significant jump from where Indian retailers were a few years back. The customer is no longer just a source for feedback but an active participant in defining the entire customer lifecycle.</p>

    <p>At the heart of this transformation lies the desire to retain customers for the longest possible tenure while bagging a significant wallet share. CRM has evolved as a platform to deliver this and more. Intelligent CRMs have gone a step further by automating many tasks needing human intervention. This includes profiling, relationship value analysis, campaign planning and execution, feedback analysis, data validation and social media engagement – all done with due diligence and personalisation. The machine learning feature helps identify and shortlist prospects or customers who are ready to buy or are in advanced stages of taking a ‘buy’ decision.</p>

    <p>Any talk of co-creation or higher forms of customer engagement is incomplete without gamification. Bidding, online gaming and other forms of engagement are actively improving sales and conversions. This makes shopping more fun and addictive. Branded behaviour analysis through a well thought of feedback gathering plan helps retailers understand and deploy changes needed to intensify the emotional connect with customers. This brings them closer to delivering a successful customer experience.</p>


    <p>New retailers no longer stand at a disadvantage vis-à-vis existing players. By offering a sophisticated range of shopping experiences and opportunities to impress the customer, they can steal a march over entrenched competitors. Customers are today more than willing to be partners in improving the quality of shopping events and their relationship with brands.</p>

    <p>For retailers all this translates into an ability to engage the customer in avenues that could lead to greater customer satisfaction and engagement value. In fact, retailers that will stay a notch ahead of competition will be the ones who have learnt to leverage CRM in more ways than others.</p>
    
    <h2 class="secondary-header--alt">About Raj Mruthyunjayappa</h2>
    
    <p>Raj Mruthyunjayappa manages operations for Campus Management across its Asia-Pacific, Europe, Middle East and Africa divisions and is managing Director of Talisma Corporation, which is wholly owned subsidiary of Campus Management Corporation. He has successfully spearheaded Talisma's foray into SaaS and cloud computing along with emerging frontiers such as social media marketing and enterprise mobility, as well as the launch of citizen relationship management software solutions for public sector organizations.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
