---
# <!-- @formatter:off -->
title: Talismas APAC and EMEA MD on future of CRM and customer experience
publish: 2015-11-16
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <figure class="press-release__figure" style="width: 220px;">
        <img src="/images/pages/news/press-releases/Raj-Mruthanjappa.gif" alt="Raj Mruthyunjayappa"/>
    </figure>
    <p>
        Raj Mruthyunjayappa, Managing Director, EMEA and APAC for
        Talisma Corporation in an interaction with Ashwani Mishra, shares his views on the future of CRM, importance of
        customer experience in today&#39;s business and how service providers need to align with each other to make their
        solutions relevant: Excerpts.
    </p>

    <h2 class="secondary-header--alt">Where is CRM headed? What kind of shifts is happening in this space?</h2>
    <p>It is quite interesting to see
        that enterprises have shifted their focus from acquisition of customers and started focusing on their retention. For
        example, consumers today are not worried on the price when they buy online. What differentiates their buying
        behavior is who will offer a better customer service.</p>

    <p>According to a study, by 2022 customer experience and not the product will become the number one differentiator in
        the marketplace. In terms of loyalty, it was found that 78 percent of customers have zero loyalty, which five years
        back was 42 percent. So you can gauge the drop in brand loyalty within this time. Customers are always looking for a
        good service and the tolerance/patience towards poor service is zero.</p>

    <p>This trend has also resulted in a change on how enterprises are breaking down the CRM buying pattern into two
        pieces.</p>

    <p>One is the CRM piece for record keeping and customer information. The other is buying a unified communications
        platform to support omnichannel delivery of services. The information from all channels has to come to a central
        platform to offer better visibility of the customer, and help to predict and measure customer experience. Retail,
        BFSI and hospitality sectors have already taken this approach. Healthcare is another vertical that is moving in this
        direction.</p>

    <p>On the customer experience front, I see a lot of convergence that is going to happen. At some point, as service
        providers, we have to find a way to align with others to make our technology/solutions relevant. We have to open our
        platforms to enable easy integration of systems, move data around them etc.</p>

    <p><b>Q. You have provided a solution for the National Skill Development Centre (NSDC), an ambitious skill upgradation
        program falling under the ambit of the Skill Council of the Prime Minister. How has been the progress and what are
        the key highlights of the rollout?</b><br/> We rolled out a Skill Development and Management Solution (SDMS) for
        NSDC that puts the citizen at the centre of all skill development and management initiatives while improving
        decision making and information management at various levels.</p>

    <p>The strategy is to centralize and monitor all skilling programs across ministries and agencies. SDMS makes citizen
        services accessible over the Internet, through mobile phones, kiosks, call centres as well as through personal
        computers.</p>

    <p>There are around 4500 skilling centres that are registered with NSDC and close to 10 million users. They actually
        work with the centre to get course content, at the backend the skilling is done and the candidate data is uploaded
        on the SDMS.</p>

    <p>Based on the assessment completion the money flows into the account. The whole process is carried out through our
        solution. The solution has brought in citizen centricity in service delivery and transparency and accountability in
        governance.</p>

    <p><b>Q. How has been your company&#39;s performance in the last fiscal and which regions/sectors are you focusing
        on?</b><br/>The market that I look after (APAC and EMEA) witnessed a 340 percent growth (financial year for the
        company runs from July to June). We picked up some large contracts last year. Hopefully, we will have some big wins
        this year as well to keep the momentum going.</p>

    <p>We have become very active in Africa and now have offices in Kenya, Tanzania, Uganda and Botswana. We are trying to
        open up market in Zambia and are also looking to work with the government in Ghana.</p>

    <p>We have been in the Indian market for more than a decade-and-a-half now and understand the customer service
        landscape. Our business in the government area is doing very well. We will continue to tap BFSI, retail, hospitality
        and healthcare care to get new deals.</p>

    <p>We are also solutions provider to around 2000 major educational institutions in several countries and a major chunk
        of our revenue comes from these institutions. We will also be looking at opportunities to offer Indian institutions
        solutions to manage their most mission-critical transactions, dynamic relationships, and the complexities of
        learning, finance, research and regulation.</p>


</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
