---
# <!-- @formatter:off -->
title: Talisma Outlines Top Technology Trends to Look Forward to in 2013
publish: 2013-01-16
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">CIO-IN, 16th Jan 2013</span> - The one thing that is certain about the
        future is continual technological change. The
        growth of industry forced changes in technology as customer demands changed over the last few years. The year
        2012
        has also been a year in which we saw businesses spending more on areas such as business intelligence, consumer
        sentiment analysis, and mobile wallet. Businesses also strengthened their technology initiatives to respond to
        customer and market dynamics, and work towards demolishing siloes in managing customer experiences.</p>

    <p>Now, it’s that time of the year again. 2013 will continue to see the emergence of customer experience management
        (CEM). Some of the trends that will dominate the headlines and resources in 2013 are:</p>

    <h2 class="secondary-header--alt">Expanding brand and product experience to smartphones</h2>

    <p>Companies will invest more and work towards expanding their CEM strategies to smartphones aggressively. 2013 will
        see
        CEM continue to emerge as a critical strategy for businesses. Companies will continue to focus on innovative
        customer experience models, especially those that combine new technology with the ability to measure consumer
        interaction and receive feedback. As a channel of engagement, smartphones will see maximum engagement attention
        from
        institutions</p>

    <h2 class="secondary-header--alt">Shift in a collaborative approach in developing products and services with
        customers
        to continue</h2>

    <p>This means that businesses today will have to invest to continue hearing feedback from their customers, which in
        turn
        means more incentives. Marketing, especially on social channels, is becoming a joint effort with ‘influencers’
        playing a major role in shaping brand attributes and this trend is going to strengthen in 2013 and we see more
        collaborative projects taking off in 2013.</p>

    <h2 class="secondary-header--alt">Traffic to online product, brand and service review sites will increase</h2>

    <p>More such sites will come up in 2013, but a few of them will sustain traffic and build their influence.
        Businesses
        will have to do much more to sustain traffic volumes on their website or even attract traffic from review sites.
        Businesses will also work out ways to work jointly with review sites without compromising their objectivity.</p>

    <h2 class="secondary-header--alt">The length of average app sessions on phones will rise</h2>

    <p>A direct result of institutions’ viewing apps as another engagement frontier, businesses will figure out ways to
        incentivize app usage and increase the duration of each session. The average session length continues to be an
        area
        of concern for businesses. Use of applications to drive loyalty and brand connect will be something that many
        businesses will be working upon.</p>


    <h2 class="secondary-header--alt">Banking, telecom and retail to remain key investors in CEM programs</h2>

    <p>A CEM solution is a one-stop-solution to effectively manage shopping experiences across multiple touch
        points—online,
        mobile, in-store, call center, and social media. The CEM market is at a very nascent stage. Vendors are
        launching
        products, forging partnerships, and developing advanced analytical tools to analyze network performance along
        with
        customer behavior, preferences, and sentiments. Vendors have ample opportunity to develop technologies such as
        social media analytics, and behavioral analytics to become integral parts of CEM solutions. One of the most
        critical
        capabilities that CEM solutions must have in order to analyze customer experience in its totality is the ability
        to
        bridge the gap between IT and network data.</p>

    <h2 class="secondary-header--alt">Consumer-oriented online engagement practices</h2>

    <p>Businesses will spend more attention and resources today evolving strategies to engage their target audiences
        through
        innovative methods. In addition to content, the focus will be on providing a memorable browsing experience and
        connecting customers with products faster. Aided navigation, site search, and SEO are areas that will receive
        added
        attention.</p>

    <h2 class="secondary-header--alt">Actionable analytics</h2>

    <p>Customer behavior, hitherto a subject of much speculation, will come out of the realm of unknown to known, thanks
        to
        deployment of analytical tools by businesses. Such tools are helping businesses analyze transaction patterns to
        derive actionable intelligence that helps improve processes, service efficiency, customer orientation, product
        features, and brand equity.</p>


    <h2 class="secondary-header--alt">Integrated Ecosystem</h2>

    <p>These are designed to provide an integrated view of the customer across all transactions, relationships,
        channels,
        and geographies. The bigger objective is to provide a unified experience to customers.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
