---
# <!-- @formatter:off -->
title: Technology solutions to benefit Students and Institutes alike
publish: 2013-06-04
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">digitalLEARNING, Jun 07, 2013</span> - Having partnered with leading international institutions like Indiana
        University, the University of Illinois, and several others, Campus Management for Higher Education, is now making
        inroads into the Indian market. Gregory J Dukat, Chairman and CEO, Campus Management, highlights opportunities and
        challenges in the domain. In conversation with Chhavi Bakaria.</p>

    <h2 class="secondary-header--alt">Please share with us key points that differentiate Campus Management from its competitors?</h2>

    <p>The education market in India has become more competitive. Students have more choice about which university or
        college they are going to. Thus, the institutions across the country are looking at tools like our technology to
        improve students’ experience, as technology brings in higher transparency, and improves governance and
        efficiency.</p>

    <p>If we look at education specifically, Campus Management is among the few end-to-end technology platform providers
        operating on a global scale. Admission process is the number one problem in India given the sheer numbers, but our
        admission process management is a lot more streamlined. We offer other services like digital marketing, alumni
        management, learning services, etc. Also, the flexibility that is inherent with our system to deal with multi-campus
        operations and to deal with different types of course curriculums being offered has been one of the hallmarks that
        distinguishes us from others.</p>

    <p>Also from students’ point our tools like Smart Card, wireless network for campus, student self-service portal,
        student portal applications and an interactive website are becoming quite popular. Now the students can decide how
        they want to communicate with the institute whether that is an e-mail, chat, social media etc.</p>

    <h2 class="secondary-header--alt">Can you give examples of Indian educational institutes who have benefited from Talisma’s CRM?</h2>

    <p>Premier institutions like Manipal University and other private and government universities are using Talisma CRM. We
        are also the technology platform provider for National Skill Development Corporation (NSDC). So, the skill-based
        education is one of our core strengths that we bring to the table from a systems stand point.</p>

    <h2 class="secondary-header--alt">How has the adoption of technology been in higher learning institutions across the country, and what are the
        challenges?</h2>

    <p>Educational institutions across the country are implementing technology to streamline functioning and improve
        students’ experience. The adoption of technology in India is growing, but I think the big problem in Indian
        institutes in general is their receptiveness to technology. Even if there is intent at the top level, but at the
        lowest level you do not have the same level of receptiveness in implementing technology. The teachers or professors
        are interested in technology and we have imparted trainings on biometric, Smart card access, etc. So yes, I would
        say, it’s getting better and there is a large untapped opportunity in that ecosystem of education.</p>

    <h2 class="secondary-header--alt">What is your product strategy to penetrate the Indian education market?</h2>

    <p>India is a complex market. Each institution has its own level of complexity. We have come up with two product
        strategies. First we have an SME product that addresses the colleges including engineering colleges and we call it
        the SmartCampus. We have different financing models to lower the upfront investments of the institutes. In the
        SmartCampus offering institutes can come in at as low as Rs 1000 per student, per year. Another segment is the
        university sector for our enterprise product called CampusVue. So we have clearly distinctive products for each of
        these categories and that’s how we are going ahead from a strategy stand point.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
