---
# <!-- @formatter:off -->
title: 'The True Measure of Cloud Computing is the Growth You See with the Investment: Talisma MD'
publish: 2013-02-22
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">CIO-IN, 22nd February, 2013</span> - In an exclusive interview with CIO India’s editor-in-chief Vijay Ramachandran,
        Raj Mruthyunjayappa, the MD of Talisma for APAC and EMEA, speaks about the business growth organizations can see
        with cloud computing and how the CIO role has evolved to a better level with the advent of this technology.</p>

    <p><b>What enables enterprises to drive innovation? Is it specific business strategy? Or does it have more to do with
        the availability of a specific technology?</b></p>

    <p>I’d say that it’s the strategy that drives innovation. When we look at the strategy and how the future is shaping up,
        what is important to note is how the evolution of the technology roadmap has played out so far and what the future
        looks like. When we put strategies together, it’s usually a five or seven year plan. And when we look at those
        plans, we can clearly understand that the technology will keep evolving. The way we cater to businesses is going to
        change eventually.</p>

    <p><b>In the last few years, there has been an increased accent on the business outcomes of a technology investment. One
        technology that does that or shows promise of doing that is cloud computing. How do you really view it?</b></p>

    <p>Cloud computing is many times looked at as a technology solution. It is not really. From our perspective, cloud
        computing is a business alignment change, in the way you look at what it can do to your business. Cloud, in a way,
        is a solution offering to businesses in general where they are now enabled by the technology and have enabled
        themselves to be more efficient because their dependency on the back-office, dependency of their people in house and
        other such factors are gone.</p>

    <p>They can be more aggressive in the way they think about their business planning. They can be innovative in the way
        they actually structure themselves because there is no more the hurdle of saying my IT team can run only this
        fast.</p>

    <p><b>One of the things, therefore, from a strategy perspective can be that what’s referred to as the private cloud,
        inside the perimeter, can be used to possibly achieve more strategic aims and what’s outside the perimeter, the
        public cloud maybe used for tactical aims. Is that the way you look at it? Or do both form parts of a strategic
        initiative?</b></p>

    <p>Private vs. public cloud is quite an interesting debate. Many times, I keep having this conversation saying that
        these are just jargons used to make it look easy for someone to understand. The concept remains the same, which is
        as a cloud, I’m not holding to one particular box or solution or software, I have availability.</p>

    <p>Anytime readily available infrastructure is what cloud computing provides you. That is the core of the conversation.
        So private cloud is just the choice you make based on the needs of how far you want to extend your systems and how
        much security you need.</p>

    <p>But really from a business standpoint, going from a non-cloud to a cloud setup is a strategic shift of saying I’m not
        going to hold myself. The technology will not hold down my growth. Technology will not slow down exponential growth
        plans. That’s how we look at it.</p>

    <p><b>How has adopting cloud technology led to business benefits for Talisma?</b></p>

    <p>It’s been spectacular for us. In the last three years we’ve strongly started to promote and adopt the cloud and I can
        tell you how it has benefited us internally as well as externally. We are now also one of the largest providers of
        ERP-on-the-cloud. And that’s been remarkable for us because we have clients spread across 30 countries.</p>

    <p>It’s remarkable to know how much of operational overhead we have taken away from them. That with the scalability we
        give to them is what is important.</p>

    <p><b>Your company consumes as well as provides cloud services. How do you see this impacting the IT department, and
        especially the CIO?</b></p>

    <p>I feel that the term ‘CIO’ needs to go away. Chief Business Officers is what I call them. Because what they are doing
        these days is instead of worrying about IT, they need to worry about business. And the evolution has been quite
        remarkable.</p>

    <p>Conversations with CIOs are not anymore about what kind of infrastructure to use. They are about business challenges
        and how to overcome them. What I’ve noticed in that context is that, the CIO is looking at the business and what’s
        the best and the most optimum way to solve the business problem. It need not necessarily be the cheapest. It has to
        effective and efficient.</p>

    <p><b>What should organizations be thinking of when they decide to take a cloud strategy?</b></p>

    <p>The first and the foremost thing organizations need to understand is what exactly they want to accomplish. They also
        need to understand their change philosophy and how to get there. Once the larger questions are answered, the how to
        get there part will be taken care of. Cloud computing is not the starting of the conversation. It is an enabler.</p>

    <p><b>Cloud enables metering and how much IT resources are consumed by each department with great precision. This should
        at least enable organizations to move towards a scenario where the IT department is a profit center and not a cost
        center. How do you view this? Do you see this evolution taking place?</b></p>

    <p>This is a very interesting question and I love it for the fact that the way I look at business is “The more someone
        uses IT, the more credit I give to them”. I’d rather not look at it as some kind of penalty. I wouldn’t say “You’re
        using more IT. So I’ll charge you back.” I’d rather say “You’re using more IT, which is a wonderful thing. I’ll give
        you more budget so that you can use more IT.”</p>

    <p>Greater usage of IT means they’re automating processes. Productivity and efficiency levels are higher. I’d like to
        give them rewards for doing that and not penalize them for the same. It is a philosophy difference and I’d encourage
        employees to use IT more.</p>

    <p><b>CIOs have a host of technologies at their disposal to actually transition to business executives. What is it that
        CIOs ought to do and what is that they should really work on?</b></p>

    <p>CIO is a very broad term. In some cases, you’re CIO of a back-office operational organization, where your motive is
        to draw operational efficiency and motto is to find different ways to reduce cost.</p>

    <p>You also have CIOs who are more business-oriented—for example in the BFSI sector. It depends on what kind of
        organization the CIO fits into. But there is a common philosophy with all CIOs. It is to go there and understand
        what the business strategy is for the next 3-5 years and how to improve business in this period.</p>

    <p>It’s not about solving their current problems. That’s the philosophical difference CIOs should understand. If you’re
        solving only today’s problem, you’re already behind the curve.</p>

    <p>It’s a long-term strategy keeping short-term objectives in mind. That’s how I’d suggest CIOs look at it.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
