---
# <!-- @formatter:off -->
title: The explosive growth in education in India is very appealing to us
publish: 2013-10-25
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">Express Computer, 25 OCTOBER 2013</span> - In an exclusive conversation, Gregory J. Dukat, Chairman &amp; CEO, Campus
        Management Corporation, talks to Pankaj Maru about the company&#39;s business strategy, the India facility, trends
        in education and much more. Excerpts...</p>

    <p><b>Early this year, you took charge as the Chairman and CEO. Are you looking at a new strategy and road map for the
        company&#39;s overall business?</b></p>

    <p>In some ways, we are not changing our overall strategy which is to provide world-class solutions to higher education
        in other markets. But it is focusing specially on the higher value of CRM application and its integration with
        Student Information System that allows universities, colleges and other institutions to become more effective and
        efficient. In the non-higher education market, we have done well in the financial, insurance and other industries,
        where we have provided world class solutions for relationship management. So I think if anything that is talking
        what we have done historically and very successfully, is executing some of those things in a better fashion and I
        think a part of the reason we made a change at the top and I am here, is that we have an opportunity to be more
        effective and more efficient internally in our execution.</p>

    <p><b>Education is the core part of the company&#39;s business. What are the trends in this sector in terms of
        technology demand and usage?</b></p>

    <p>By taking slices of different markets, we are seeing competition for students; we are seeing the importance of
        relationships across the entire student lifeline whether it&#39;s fund raising or some sort of constituent
        relationships. We are also seeing a transformation happening where there’s competition for students today, which was
        not in the past.</p>

    <p><b>How strategic is India for the company in terms of opportunities and talent?</b></p>

    <p>It is very strategic for three reasons. One, half of our staff is located here and a big part of our development
        teams, deployment teams and sales teams are here. Two, we have been very successful in the higher education market
        here and we think that it is a continuing opportunity for us. And higher education is really transforming in this
        country and growing just at an incredible cliff. So India is a key part of our future strategy and is probably one
        of our top 2 or 3 markets worldwide.</p>

    <p><b>How is the higher education segment performing against other segments?</b></p>

    <p>The higher education is our largest segment and is our core business. That doesn’t mean we are not focused on the
        other segments and there are attributes that are common across higher education, financial, insurance and others
        where they are utilizing our technology and expertise. Higher education has the lion’s share of our business
        globally and in India, but we do serve the international markets in the non-higher education segment as well.</p>

    <p><b>What portion of your business is driven from the India facility?</b></p>

    <p>Almost 40% of our business is international today and we expect that to grow in high percentage. Because of the
        successes we had in the U.S., India, the U.K., and other places, new doors are opening for us around the globe. And
        so, I am hoping that we continue to grow more dramatically as an international global company rather than just a
        domestic US-based company.</p>

    <p><b>Do you have any specific plans for India – for instance, software solutions that suitable for the Indian
        market?</b></p>

    <p>I think Talisma CRM application has a great applicability in the Indian market and is a terrific success. Also, we
        have the traditional campus solutions, what we call enterprises/ universities and large institutions; along with
        SmartCampus for the smaller universities and colleges. The explosive growth in education in India is very appealing
        to us and there is no predominant solution here.</p>

    <p><b>There is a growing acceptance of cloud technology as a delivery model. So how is Campus Management looking to push
        its solutions or products using the cloud?</b></p>

    <p>We have our next-generation product which is taking our technology footprint and delivering on the SaaS/cloud based
        model. We have already begun delivering that for several of our customers, and will [soon] have a new
        release.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
