---
# <!-- @formatter:off -->
title: Trends that will share Customer Experience in 2016
publish: 2015-02-25
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p><span class="press-release__date-location">ETCIO.com, Jan 29, 2016 - Raj Mruthyunjayappa</span> - 2015 was a year where we saw businesses giving themselves the strongest competitive edge by giving a voice to the customer. Companies began to understand that in addition to finding and solving problems, good practices and technology can also identify and nurture the emotional connections created by positive encounters. In doing so, companies are providing their throngs of happy customers with a platform to speak out, helping build an army of omni-channel brand advocates.</p>

    <p>Ideally, for best level of customer experience, three things need to fall in place – we need to ENBABLE the customer. Second, we need to ENGAGE with them and lastly, we should EMPOWER customers. This year, CX will continue to grow in importance for companies and an even larger number of organizations will begin their CX journeys. The below six trends will make a significant difference in the way businesses operate.</p>

    <p><strong>1. Multi-Channel Engagement</strong> – Consistency in Multi-channel engagement will be a key strategy as more businesses work towards optimising their customer engagement channels and strategies towards offering consistent, unified and easily replicable customer engagement means. Investments in nurturing select channels while neglecting others will no longer pay dividends. Customers can be weaned away from channels where the cost of operations are prohibitive (or resource intensive) but there is no point in keeping channels which do not match the speed, reliability and experience consistency of other channels open. Experience consistency is reassuring for the customer and has a direct bearing on the brand – specifically in terms of advocacy.</p>

    <p><strong>2. Social Contact Integration</strong> – Data flows from social channels to intensify. We have already seen a lot of this in 2015. So far we have seen businesses being proactive in initiating social conversations. The approach has been to either have small conversations or to get them to divert to the website. In the last couple of years, many businesses have tried engaging social participants to share their contact information even incentivising existing customers to share their social details. The social campaign calendar of businesses is looking packed in 2016 and this is another reason for contact optimisation with social data.</p>

    <p><strong>3. Mobile Apps</strong> – More traction and integration across sales and marketing functions to understand the buy and repeat sales context of the customer. A healthy-mix of web and app-based selling will continue to be the way forward in 2016. If you look at traffic and engagement patterns, web is still a major draw for customers and prospects and business are in no hurry to switch to an app-only mode. With smartphone sales picking up and mobile data use increasing, customer comfort will bring in more app based sales in the coming year.</p>

    <p><strong>4. SaaS</strong> – SaaS platforms to witness more growth: SMBs will drive SaaS adoption as players increase their tech spend, vendors will benefit.</p>

    <p><strong>5. Customer Intelligence</strong> – The foundations of a robust Internet of Things eco-system is getting ready with predictability and context driven engagement. The emphasis on ‘buy content’ will continue in 2016 with more information streams joining in (wearables and apps). The context of a sale and many of the factors that lead to a sale continue to be a mystery. Abandoned carts add to the problem. So businesses that cannot leverage contextual intelligence to derive behaviour patterns, cart forecast and deploy the data collected stand to operate from a position of disadvantage.</p>
    
    <p><strong>6. Integrated Vendors</strong> – Integrated vendors to reign: vendors who have complete stack from consulting to licences and implementation will maintain their lead over part vendors. Solution vendors who have breath in terms of domain understanding and vertical specialisation will have a distinct edge. This is clearly driven by a need to simplify procurement as also the need to simplify post-sales servicing and keep total cost of ownership of infrastructure low.</p>

<p>Companies are now operating at an age where Customers are Everything. The Age of the Seller is surrendering to The Age of the Customer, as customers resist limitations of the former Age and embrace the empowerment of the new. During the transition, Sellers are operating in parallel universes, but not for long.</p>

<p>They like this brand-new empowerment, and gradually expect more sellers to connect with them on their terms. This is an environment where we are seeing that the best organisations are finding ways to successfully counter even the most virulent fraudsters and engage with even the unhappiest customers, including those who swear they’re never stepping foot in that store again. In tackling these challenges immediately and directly, companies can see real results, whether it's turning grumpy customers into champions or dramatically improving the business' online presence.</p>

<p>2016 is going to be a fascinating year with respect to the use of technology to improve and enhance CX.</p>
      
    <h2 class="secondary-header--alt">About Raj Mruthyunjayappa</h2>
    
    <p>Raj Mruthyunjayappa is Managing Director, APAC and EMEA at Talisma Corporation.</p>

</article>
{{/content}}

{{#content "link-boxes"}}
{{/content}}

{{/extend}}
