<li class="link-box link-box--brazil">
    <div class="link-box__title">Brazil</div>
    <p>
        Campus Management Brasil Com.<br/>
        De Softwares Educativos LTDA<br/>
        R Dom Jose De Barros 00177<br/>
        6 Andar CJ 602 SL 607<br/>
        Republica – CEP: 01038-100<br/>
        São Paulo
    </p>
</li>
