<li class="link-box link-box--demo-center">
    <div class="link-box__title">{{safeValue title-text 'Watch the Webcast' }}</div>
    <a class="link-box__link" href="{{safeValue href '{{url-lang-prefix}}/product-center/' }}">
        {{safeValue button-text 'Watch' }}
    </a>
</li>
