<li class="link-box link-box--rfi-rfp">
    <div class="link-box__title">RFI or RFP</div>
    <a class="link-box__link" href="{{safeValue href 'mailto:marketing@talisma.com?Subject=**New**%20RFP/RFI%20Request' }}">Request Information</a>
</li>
