<li class="info-box info-box--testimonial">
    <h2 class="info-box__title"></h2>
    <div class="testimonial app" id="page_testimonial">
        <p class="testimonial__quote">
            Talisma Digital Platform has made a significant difference to our business. We have always believed that
            communication lies at the heart of any drive designed to offer a memorable experience to guests. The
            benefits we got from our investment in Talisma’s digital offering have validated this belief. I would like
            to add that as our trusted technology partner, Talisma has been an enabler in realizing our goal of
            providing a consistent experience to all our internal and external stakeholders and helped us get a better
            and faster ROI
        </p>
        <div class="testimonial__author">
            <div class="testimonial__author__name">Rahul Rattan</div>
            <div class="testimonial__author__title">Head</div>
            <div class="testimonial__author__company">Customer Contact Centre at ITC Hotels</div>
        </div>
    </div>
</li>
