<li class="info-box info-box--testimonial">
    <h2 class="info-box__title"></h2>
    <div class="testimonial app" id="page_testimonial">
        <p class="testimonial__quote">
            Talisma has been a trusted technology partner for us. Not only has Talisma’s solution helped us scale
            operations across the country but it has also made us a technology savvy organization that is responsive,
            insights driven and ready for the future,
        </p>
        <div class="testimonial__author">
            <div class="testimonial__author__name">Robin Meyers</div>
            <div class="testimonial__author__title">Head</div>
            <div class="testimonial__author__company">CHILDLINE Contact Centre</div>
        </div>
    </div>
</li>
