.products-and-solutions-item__title {
    margin-bottom: rhythm(0.5);
    margin-top: rhythm(6);
}

.products-and-solutions-item {
    margin-bottom: rhythm(2);
}

.products-and-solutions-item:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
}

.products-and-solutions-item p {
    @include adjust-leading-to(0.75);
    margin-bottom: rhythm(0.75);
}

.products-and-solutions-item--marketing:before {
    @include retina-sprite($global-marketing-group);
}

.products-and-solutions-item--sales:before {
    @include retina-sprite($global-sales-group);
}

.products-and-solutions-item--service:before {
    @include retina-sprite($global-service-group);
}

.products-and-solutions-item--channels:before {
    @include retina-sprite($global-channels-group);
}

.products-and-solutions-item--kowledgebase:before {
    @include retina-sprite($global-knowledge-base-group);
}

.products-and-solutions-item--social:before {
    @include retina-sprite($global-social-group);
}

.products-and-solutions-item--intelligence:before {
    @include retina-sprite($global-business-intelligence-group);
}

.products-and-solutions-item--mobility:before {
    @include retina-sprite($global-mobility-group);
}

// scss-lint:disable SelectorFormat

.products-and-solutions-item--DCEP:before {
    @include retina-sprite($global-dcep-group);
}

.products-and-solutions-item--CRM:before {
    @include retina-sprite($global-crm-group);
}

// scss-lint:enable SelectorFormat
