---
# <!-- @formatter:off -->
title: Dev
banner-title: Dev
banner-image: /images/pages/products/home/banner-talisma-logo.jpg
menu-priority: 0
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>
    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Content currently under development</p>

    {{>quick-launch}}
</article>
{{/content}}
{{/extend}}
