---
# <!-- @formatter:off -->
title: Talisma Insight 2015
publish: draft
banner-image: /images/pages/products/talismaProductIcon.gif
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Annual Business and Technology Conference</p>

    <p class="secondary-header--alt">Talisma Insight is Back!</p>
    <p>Join us at Talisma Insight, 2015 on October 8, 2015 in Mumbai.</p>
    <p>The sixth edition of India’s benchmark customer experience event will feature sessions on customer service
        strategies, channel, business and technology trends and solutions in addition to extensive networking
        opportunities.</p>
    <p>The customer service landscape around is fast evolving. Gartner says that by 2017, a third of all customer
        service interactions will still require the support of a human intermediary (as opposed to 60 percent of
        customer service interactions that required the intervention of a human support agent in 2014).</p>
    <p>The event will feature insights on using customer service tech as a pivot to operating successfully with positive
        bearing on margins and brand equity. You cannot afford to miss this one!</p>

    <h2 class="secondary-header--alt">Other takeaways include:</h2>

    <ul class="list--normal">
        <li>Strategy sessions on deepening customer engagement through customer service</li>
        <li>Case studies: listen to what your peers are doing with technology</li>
        <li>Speaker takeaways and tactics, offering actionable ideas you can use immediately</li>
        <li>Talisma’s product road map aligned to emerging business paradigms</li>
        <li>Training sessions to maximize your RoI from Talisma</li>
        <li>Extensive connect opportunities through networking breaks</li>
    </ul>

    <p><b>Date:</b> October 8, 2015<br/>
        <b>Venue:</b> ITC Grand Central, Dr Babasaheb Ambedkar Road, Parel, Mumbai, India</p>

    <p>Add this event to your calendar on Gmail or Outlook</p>
    <p>To connect with Talisma Insight, 2015, reach out to your Talisma Regional Sales Manager or drop us a line at <a
        href="mailto:praveenc@talisma.com?Subject=Talisma%20Insight%202015">praveenc@talisma.com</a></p>
    <p>Or DM us your details on our twitter handle <b>@talismacustex</b></p>
</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Why attend?</h2>
            <!--<img class="info-box__img" alt="" src="/images/pages/who-we-serve/private/box-more-options.png"/>-->
            <div class="info-box__content-wrapper--left">
                <ul class="list--normal ">
                    <li>Gain a good handle on your customer data</li>
                    <li>Highest approval rating among attendees</li>
                    <li>30 percent year-on-year growth in attendees</li>
                    <li>Extensive C-suite participation across verticals</li>
                    <li>Unique networking platform for technology decision makers and influencers</li>
                </ul>
            </div>
        </li>
        <li class="info-box">
            <!--<h2 class="info-box__title">Do much more with Talisma’s CEM offerings</h2>-->
            <!--<img class="info-box__img" alt="" src="/images/pages/who-we-serve/private/box-more-options.png"/>-->
            <div class="info-box__content-wrapper--left">
                <p></p>
            </div>
        </li>
    </ul>
</div>
{{/content}}

{{#content "link-boxes"}}

{{/content}}

{{/extend}}
