@import 'cmc-site/app/styles/common-imports';
@import '../base/variables';
@import 'cmc-site/app/styles/components/button';
@import 'cmc-site/app/styles/base/typography-mixin';
@import 'bootstrap-sass/assets/stylesheets/bootstrap/carousel';
@import 'cmc-site/app/styles/components/home-page-carousel';
@import 'cmc-site/app/styles/components/home-page-events';

.carousel .item {
    min-height: rhythm(30.5);
    @media (min-width: $screen-xs-min) {
        min-height: rhythm(25.5);
    }
    @media (min-width: $screen-sm-min) {
        min-height: rhythm(21.5);
    }
    @media (min-width: $screen-md-min) {
        min-height: rhythm(19);
    }
}

.carousel-inner > .item > img, .home-page-carousel__img {
    max-height: rhythm(7);
    @media (min-width: $screen-sm-min) {
        max-height: none;
    }
}
