<?xml version="1.0" encoding="UTF-8"?>
<sitemapindex xmlns="http://www.google.com/schemas/sitemap/0.84">
  <sitemap>
    <loc><%= data.CORS_ORIGIN_CMC %>/pages.xml</loc>
  </sitemap>
  <sitemap>
    <loc><%= data.CORS_ORIGIN_CMC %>/documents.xml</loc>
  </sitemap>
</sitemapindex>
