---
# <!-- @formatter:off -->
title: Not Found
permalink: false
banner-image: /images/pages/products/talismaProductIcon.gif
show-in-quick-launch: false
private: true
additional-scripts:
  - src: /scripts/page--404.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/search-results.css
    inline: true
# <!-- @formatter:on -->
---

<script>window.__is404page = true;</script>

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">We're Terribly Sorry</h1>
    <p class="cmc-article__subtitle">The Page You've Requested Could Not Be Located in our System</p>

    <p>
        Here are some results that we think might be useful to you:
    </p>

    <div id="SearchResultContainer" class="app" data-index="talisma--en-in">
        <div class="loading--placeholder">Loading...</div>
    </div>

    <p class="search-results-by">
        <a href="https://www.algolia.com" target="_blank">
            Search By
            <img src="/images/pages/search/Algolia_logo_bg-white.jpg" class="search-results-by__img" alt="Algolia" />
        </a>
    </p>

</div>

{{/content}}

{{/extend}}

