---
# <!-- @formatter:off -->
title: Search Talisma
banner-image: /images/pages/products/talismaProductIcon.gif
private: true
additional-scripts:
  - src: /scripts/page--search.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/search-results.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Search Results</p>

    <div id="SearchResultContainer" class="app" data-index="talisma--en-in">
        <div class="loading--placeholder">Loading...</div>
    </div>

    <p class="search-results-by">
        <a href="https://www.algolia.com" target="_blank">
            Search By
            <img src="/images/pages/search/Algolia_logo_bg-white.jpg" class="search-results-by__img" alt="Algolia" />
        </a>
    </p>

</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}

