---
# <!-- @formatter:off -->
title: Talisma in the News
label: News & Insights
banner-image: /images/pages/news/Banner_pr.gif
menu-priority: 0.3
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>
    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">News &amp; Insights</p>

    <h2 class="secondary-header--alt">Recent Press Releases</h2>

    {{>recent-press-release-list}}
    
    <ul class="cmc-article__link-list cmc-article__link-list--centered">
        <li class="cmc-article__link-list-item"><a class="cmc-article__link" href="/news/press-releases/">More News</a>
        </li>

</div>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}

