---
# <!-- @formatter:off -->
title: Talisma Insight 2015
menu-priority: 0.1
banner-image: /images/pages/news/banner-talisma-insight-2015-logo.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Annual Business and Technology Conference</p>

    <p class="cmc-article__intro-p">A brief roundup of Talisma Insight 2015</p>

    <h2 class="press-release__date-location">Training sessions</h2>

    <p>We conducted session on channels, Business Continuity Planning and Disaster Recovery and best practices on
        product maintenance and productivity enhancement, among others. These sessions included hands-on training to
        give users a real-time experience to enhance their learning experience on all up-coming modules.</p>

    <p>Post lunch, we opened the product and sponsor booths to the gathering. Within no time the booths got crowded and
        attendees engaged Talisma staff in engaging discussions around the capabilities of products such as Talisma
        Chat, workflows and Talisma Mobile CRM. Talisma Learning Center attracted attention from attendees interested in
        product training.</p>

    <h2 class="press-release__date-location">Keynote address and organisation updates</h2>

    <p>Rajendra C M, MD, Talisma Corporation took over the proceedings at 3:15 PM and presented on delivering engaging
        customer experience.</p>

    <h2 class="press-release__date-location">Panel deliberations</h2>

    <p>An expert panel constituted by Talisma including leading light drawn from various industries deliberated on the
        emerging customer engagement paradigms.</p>

    <h2 class="press-release__date-location">Product updates and business sessions</h2>

    <p>This was followed by a session by the Sudhir Shetty, GM, Talisma Corporation. He presented on how the product
        delivers a unique competitive business advantage to businesses. His session included Talisma’s product roadmap
        to be rolled out over the next 12 months. He also spoke about Talisma Engage which is a platform designed for
        e-learning and offering information on troubleshooting, collaboration (enhancements, product ideas and
        discussions), best practices and product info for Talisma’s customers.</p>

    <p>The segment concluded with a session on Adding value with managed solutions by Jins Varghese, Sr. Director of
        Cloud Services – Talisma.</p>

    <h2 class="press-release__date-location">Awards</h2>

    <p>Awards to recognise customer excellence on Talisma deployments for Multi-channel Adoption, Technology Innovation,
        Excellence in Customer Focus and Process management were given away.</p>

    <p>We would like to thank all attendees for their enthusiastic participation in Talisma Insight 2015.</p>
</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
