---
# <!-- @formatter:off -->
title: About Us
banner-image: /images/pages/products/home/banner-talisma-logo.jpg
menu-priority: 0.2
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Company Overview</p>

    <p class="cmc-article__intro-p">
        Talisma is the leading provider of Digital Customer Engagement Platform for a wide
        range of industries.
    </p>

    <p>
        Talisma Corporation Pvt. Ltd., a wholly owned subsidiary of Campus Management Corporation, is the leading
        provider of Digital Customer Engagement Platform for a wide range of industries.
    </p>

    <p>
        Talisma solutions enable organizations to deliver an exceptional customer experience on a global scale across
        engagement channels and interactions. The company serves a variety of industries through its wide range of
        vertical specific solutions and delivers a combination of advisory / consulting and support services.
    </p>

    <p>
        Talisma is present in over 30 countries with direct presence in India, UK, Brazil and United States.
    </p>

</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">
        <li class="info-box info-box--testimonial">
            <h2 class="info-box__title">Frost &amp; Sullivan</h2>
            <div class="testimonial app">
                <p class="testimonial__quote">Talisma’s Customer Experience Management software enables businesses to
                    deliver highly personalised customer
                    experience for their customers across channels, transactions, relationships, and geographies</p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Frost &amp; Sullivan</div>
                </div>
            </div>
        </li>
        <li class="info-box info-box--testimonial">
            <h2 class="info-box__title">Gartner</h2>
            <div class="testimonial app">
                <p class="testimonial__quote">Cool vendor</p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Gartner</div>
                </div>
            </div>
        </li>

        <li class="info-box info-box--testimonial">
            <h2 class="info-box__title">PricewaterhouseCoopers</h2>
            <div class="testimonial app">
                <p class="testimonial__quote">Rated among the most popular banking solutions in India</p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">PricewaterhouseCoopers</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
