---
# <!-- @formatter:off -->
title:   Management Team
additional-stylesheets:
  - href: /styles/pages/management.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">
    <h1 class="cmc-article__title--app">{{title}}</h1>
    <ul class="management-team-list">
        <li>
            <a
                class="management-team-list__link management-team-list__link--jim-milton smooth-scroll-link"
                href="#JimMilton">
                <div class="management-team-list__link__person-name">
                    Jim Milton
                </div>
                <div class="management-team-list__link__person-title">
                    Chief Executive Officer
                </div>
            </a>
        </li>
        <li>
            <a
                class="management-team-list__link management-team-list__link--mark-armstrong smooth-scroll-link"
                href="#MarkArmstrong">
                <div class="management-team-list__link__person-name">
                    Mark Armstrong
                </div>
                <div class="management-team-list__link__person-title">
                    Chief Strategy Officer
                </div>
            </a>
        </li>
        <li>
            <a
                class="management-team-list__link management-team-list__link--cynthia-haynie smooth-scroll-link"
                href="#CynthiaHaynie">
                <div class="management-team-list__link__person-name">
                    Cynthia L. Haynie
                </div>
                <div class="management-team-list__link__person-title">
                    Senior Vice President and Chief Technology Officer
                </div>
            </a>
        </li>
        <li>
            <a
                class="management-team-list__link management-team-list__link--anders-nessen smooth-scroll-link"
                href="#AndersNessen">
                <div class="management-team-list__link__person-name">
                    Anders Nessen
                </div>
                <div class="management-team-list__link__person-title">
                    Senior Vice President and Chief Financial Officer
                </div>
            </a>
        </li>
        <li>
            <a
                class="management-team-list__link management-team-list__link--rob-sparks smooth-scroll-link"
                href="#RobSparks">
                <div class="management-team-list__link__person-name">
                    Rob Sparks
                </div>
                <div class="management-team-list__link__person-title">
                    Chief Marketing Officer
                </div>
            </a>
        </li>
        <li>
            <a
                class="management-team-list__link management-team-list__link--vicki-hucke-mccright smooth-scroll-link "
                href="#VickiHuckeMcCright">
                <div class="management-team-list__link__person-name">
                    Viki Hucke-McCright
                </div>
                <div class="management-team-list__link__person-title">
                    Senior Vice President, Career Education
                </div>
            </a>
        </li>
        <li>
            <a
                class="management-team-list__link management-team-list__link--jim-brigadier smooth-scroll-link"
                href="#JimBrigadier">
                <div class="management-team-list__link__person-name">
                    Jim Brigadier
                </div>
                <div class="management-team-list__link__person-title">
                    Senior Vice President, Sales and Professional Services, Americas
                </div>
            </a>
        </li>
        <li>
            <a
                class="management-team-list__link management-team-list__link--raj-mruthyunjayappa  smooth-scroll-link"
                href="#RajMruthyunjayappa">
                <div class="management-team-list__link__person-name">
                    Raj Mruthyunjayappa
                </div>
                <div class="management-team-list__link__person-title">
                    Senior Vice President and Managing Director, Talisma Corporation Pvt. Ltd.
                </div>
            </a>
        </li>
    </ul>

</div>
{{/content}}

{{#content "after-body"}}
<div class="management-team-bio-list">
    <section id="JimMilton" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/milton-245x175.jpg"
                    alt="Jim Milton">
                <h2 class="management-team-bio-list-item__name">Jim Milton</h2>
                <p class="management-team-bio-list-item__title">Chief Executive Officer</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>Jim Milton, chief executive officer, is responsible for leading the team at Campus Management towards
                    delivering superior Student Information systems and CRM solutions to higher education institutions
                    globally. He brings more than 30 years of experience at a range of innovative technology companies,
                    where he has successfully led product expansions, mergers, acquisitions and sales strategies.</p>

                <p>Most recently, Mr. Milton served as CEO, president and director of SoundBite Communications, a
                    SaaS/Cloud-provider of multi-channel communication solutions. During his tenure he transformed and
                    expanded the company’s product offerings, orchestrated and integrated two acquisitions, and directed
                    its ultimate sale to Genesys in 2013.</p>

                <p>Mr. Milton has also held senior executive roles at organizations that include: Intervoice (now part
                    of Convergys), UGS (now part of Siemens), Digital Equipment Corporation, Compaq Computer
                    Corporation, and Hewlett-Packard Company.</p>

                <p>He has a bachelor’s degree in Mathematics (Joint Honors in Computer Science and Economics) from the
                    University of Waterloo in Waterloo, Canada.</p>
                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>

    <section id="MarkArmstrong" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/armstrong-245x175-w.jpg"
                    alt="Mark Armstrong">
                <h2 class="management-team-bio-list-item__name">Mark Armstrong</h2>
                <p class="management-team-bio-list-item__title">Chief Strategy Officer</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>Mark Armstrong serves as Chief Strategy Officer for Campus Management, where he utilizes over 25
                    years of
                    higher education technology experience to drive solutions that meet and exceed customer expectations
                    both in
                    the United States and globally.</p>

                <p>Prior to joining Campus Management, Mr. Armstrong served as Vice President, Higher Education Product
                    Development,
                    at Oracle, where he developed and supported a variety of key campus applications and SaaS solutions
                    for the international
                    market. Mr. Armstrong began with the company through Campus Solutions, Inc., in 1995, and after its
                    acquisition by
                    PeopleSoft, was responsible for building its presence in higher education. His early career was
                    spent at the University
                    of California, Los Angeles (UCLA), where Mr. Armstrong developed and supported student
                    solutions.</p>

                <p>He has served in executive advisory positions with EDUCAUSE, Oracle’s Higher Education User Group,
                    and on the
                    Board of Directors for IMS Global.</p>

                <p>Mr. Armstrong holds a bachelor’s degree in industrial design from UCLA, studied in the Technology
                    Executive Management
                    program at MIT Sloan.</p>

                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>

    <section id="CynthiaHaynie" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/haynie-245x175-g.jpg"
                    alt="Cynthia L. Haynie">
                <h2 class="management-team-bio-list-item__name">Cynthia L. Haynie</h2>
                <p class="management-team-bio-list-item__title">Senior Vice President and Chief Technology Officer</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>As Senior Vice President and Chief Technology Officer for Campus Management, Cynthia L. Haynie is
                    responsible for creating and leading the company’s technology vision and strategy as a global
                    provider of solutions for higher education.</p>

                <p>Ms. Haynie’s 25 years of software development experience encompasses leadership of global resources
                    for product research and development, involving both new products and the migration of complex
                    enterprise software systems.</p>

                <p>Her early career was with Martin Marietta and IBM, where Ms. Haynie led engineering teams to support
                    the Department of Defense and NASA initiatives. Most recently, she served as Chief Technology
                    Officer at SolArc, Inc., a global provider of commodity trading and risk management solutions. Prior
                    to SolArc, she served in various executive capacities at Rome Corporation, a venture-funded start-up
                    company, and Caminus Corporation, a public company acquired by Sungard, both of which provided
                    trading and risk management software solutions serving the highly regulated energy sector.</p>

                <p>Ms. Haynie holds a Bachelor of Science degree in Electrical Engineering from Texas A &amp; M and
                    Masters degrees in Information Systems from Denver University and Technology Management from
                    Pepperdine University.</p>

                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>

    <section id="AndersNessen" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/nessen-245x175-w.jpg"
                    alt="Anders Nessen">
                <h2 class="management-team-bio-list-item__name">Anders Nessen</h2>
                <p class="management-team-bio-list-item__title">Senior Vice President and Chief Financial Officer</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>Anders Nessen is responsible for the company’s accounting, finance, and facilities. In addition, he
                    plays an integral role in corporate strategy and acquisitions.</p>
                <p>Prior to joining Campus Management, Mr. Nessen spent over eight years as an investment professional
                    with Leeds Equity Partners, a New York-based private equity firm focused on the education and
                    training industries. At Leeds Equity, he drove all aspects of the investment process, directing due
                    diligence, negotiating and financing transactions, and monitoring performance post-investment.</p>
                <p>Prior to Leeds Equity, Mr. Nessen worked in the mergers and acquisitions department of Lehman
                    Brothers, also in New York. He holds a BS in Finance and Information Systems from the University of
                    Virginia.</p>

                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>

    <section id="RobSparks" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/sparks-245x175-g.jpg"
                    alt="Rob Sparks">
                <h2 class="management-team-bio-list-item__name">Rob Sparks</h2>
                <p class="management-team-bio-list-item__title">Chief Marketing Officer</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>Rob Sparks is Chief Marketing Officer for Campus Management, and is charged with expanding the global
                    brand of the company and its solutions. Mr. Sparks brings over 20 years of higher education and
                    technology
                    expertise to the company.</p>
                <p>He began his career at George Brown College in Toronto, Canada, and then joined SCT where he held
                    leadership
                    positions within that company, SunGard Higher Education and Ellucian, working in Europe, the Middle
                    East and
                    North America. Mr. Sparks then took a global assignment in the United Kingdom as VP, Product
                    Management and
                    Strategy, at Unit4 Business Software for Education and Research. Most recently, he served as SVP,
                    Partner Support,
                    at Academic Partnerships.</p>
                <p>Mr. Sparks is a graduate of Carleton University in Ottawa, Ontario.</p>

                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>

    <section id="VickiHuckeMcCright" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/mccright-245x175.jpg"
                    alt="Viki Hucke-McCright">
                <h2 class="management-team-bio-list-item__name">Viki Hucke-McCright</h2>
                <p class="management-team-bio-list-item__title">Senior Vice President, Career Education</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>Viki L Hucke-McCright, Senior Vice President, Career Education, leads Campus Management’s product and
                    solutions strategy teams, including Product Management, User Experience and Partnerships. Ms.
                    Hucke-McCright has more than twenty four years of experience in higher education. Since joining
                    Campus Management in 1995, Ms. Hucke-McCright has worked in various roles including Development,
                    Learning Center and Product Management.</p>
                <p>Currently, she is focused on driving product and solution strategies for the organization. Among her
                    contributions to Campus Management, Ms. Hucke-McCright has been instrumental in the evolution of
                    Campus Management’s student information system and portal solution, CampusVue Student and CampusVue
                    Portal, as well as the acquisition of Talisma CRM, the leading solution for relationship management
                    in higher education.</p>
                <p>Prior to Campus Management, Ms. Hucke-McCright began her career in higher education, serving roles in
                    financial aid and student finance. She holds a B.S. in Finance from Texas Tech University.</p>

                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>

    <section id="JimBrigadier" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/brigadier-245x175.jpg"
                    alt="Jim Brigadier">
                <h2 class="management-team-bio-list-item__name">Jim Brigadier</h2>
                <p class="management-team-bio-list-item__title">Senior Vice President, Sales and Professional Services,
                    Americas</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>Jim Brigadier serves as Senior Vice President of Sales and Professional Services, Americas&nbsp;for
                    Campus Management, where he is responsible for all aspects of field operations&nbsp;including
                    customer enablement management. He brings over 15 years of traditional/not-for-profit higher
                    education sector experience.</p>

                <p>Prior to coming to Campus Management, he was the Executive Vice President of Sales for Academic
                    Partnerships, a leader in business process outsourcing in online education for traditional colleges
                    and universities in the U.S. Earlier in his career, Mr. Brigadier was in sales and sales management
                    for SCT, SunGard Higher Education and Ellucian where he was the Vice President of Customer
                    Relationships.</p>

                <p>Prior to his entrée into the higher education software and services market, Jim spent 8 years with
                    the U.S. Marine Corps as an Intelligence Officer and as a recruiter on college campuses. </p>

                <p>Mr. Brigadier has a business degree from the University of South Carolina and an MBA from Auburn
                    University.</p>

                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>


    <section id="RajMruthyunjayappa" class="management-team-bio-list-item-wrapper">
        <div class="management-team-bio-list-item">
            <div class="management-team-bio-list-item__person">
                <img
                    class="management-team-bio-list-item__img"
                    src="/images/pages/about-us/management-team/raj-245x175.jpg"
                    alt="Raj Mruthyunjayappa">
                <h2 class="management-team-bio-list-item__name">Raj Mruthyunjayappa</h2>
                <p class="management-team-bio-list-item__title">Senior Vice President and Managing Director, Talisma
                    Corporation Pvt. Ltd.</p>
            </div>
            <div class="management-team-bio-list-item__bio">
                <p>Raj Mruthyunjayappa manages operations for Campus Management across its Asia-Pacific, Europe, Middle
                    East and Africa divisions and is Managing Director of Talisma Corporation Pvt. Ltd., which is wholly
                    owned subsidiary of Campus Management Corporation.</p>
                <p>Raj has been instrumental in establishing an international footprint for Campus Management and under
                    his leadership, Talisma/Campus Management has been helping global institutions across BFSI,
                    Education and ITES hone their customer management strategies to build long-lasting and profitable
                    customer relationships across 26 countries. He has successfully spearheaded Talisma’s foray into
                    SaaS and cloud computing along with emerging frontiers such as social media marketing and enterprise
                    mobility, as well as the launch of Citizen Relationship Management software solutions for public
                    sector organizations.</p>
                <p>His previous roles include executive management positions at nGenera Corporation spanning sales,
                    services, engineering, business operations and business development and management positions at
                    Aditi Technologies and Visual Commerce in the U.S. Raj holds a Master’s degree in Computer
                    Applications from Mysore University.</p>

                <a href="#page-top" class="management-team-bio-list-item__btt-link smooth-scroll-link">
                    Back to Top
                </a>
            </div>
        </div>
    </section>
</div>
{{/content}}

{{/extend}}

