---
# <!-- @formatter:off -->
title: Privacy
banner-image: /images/pages/about-us/Banner_Privacy.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__subtitle">{{title}}</h1>

    <p>Campus Management Corporation respects your privacy and is committed to protecting any personal information that
        you provide to us. Our goal is to deliver content that will be useful to you. In order to provide relevant
        information, be responsive to your specific requests, and enhance your experience while utilizing our website,
        we will from time to time request information from you.</p>
        
   	<p>This statement explains our policies andpractices regarding the use and disclosure by Campus Management of the personal information you provide. It is
        important for you to understand that Campus Management reviews and updates this Privacy Policy as it deems
        appropriate without notice to you. As a result, you should periodically review this policy to make sure that you
        are aware of how we are using the personal information you provide us. By using our web site, you consent to the
        collection and use of your personal information by Campus Management as explained below.</p>
        
  	<p>Campus Management provides links to other sites we believe may be of interest to you. These sites are provided as a
        convenience and are beyond our control and Campus Management is not responsible for the privacy practices or the
        content on these web sites. You should check the privacy policies of those sites before providing your personal
        information to them.</p>
        
   	<h2 class="secondary-header--alt">Copyright &amp; Trademarks</h2>
        
   	<p>All contents of this Web site are, in their
        entirety and unless otherwise indicated, the property of Campus Management Corporation, copyright © 2002-2006.
        All rights reserved. Unauthorized use, in whole or in part, is not permitted without the express written consent
        of an authorized Campus Management executive.</p>
        
   	<p>Campus Management Corp. and the Campus Management logo
        are trademarks, service marks and/or designs of Campus Management Corporation. Talisma is a registered trademark
        of Campus Management Corp. Other trademarks, service marks and/or designs registered or applied for in the U.S.,
        other countries or both include CampusAcademy, CampusCare, CampusCompanions, Campus2000, CampusLink, CampusNet,
        Campus Quad, CampusVue, CampusVue Collegiate, CampusVue Express, CLASS Software, Donor2, One Campus ERP,
        www.campusmanagement.com, and www.donor2.com. All other trade names are trademarks, service marks or registered
        trademarks of their respective holders.</p>
        
   	<h2 class="secondary-header--alt">Collection of Information</h2>
    
   	<p>In general, you can visit
        our web site without providing us with any personal information. However, at various times during navigation
        across our web site, there are instances where we need your personal information to grant you access to our
        protected content or secured sites. This information may include registration data, such as your name, address,
        email address and phone number. Campus Management may collect information from you through the use of user
        request forms to send you information you have specifically requested from us. Campus Management may also
        request information that will assist you in better using Campus Management products and services. This
        information may include information about your organization and your responsibilities within that organization.
        Please do not submit any personal information to us if you are less than 18 years of age.</p>
        
   <h2 class="secondary-header--alt">Use of Information</h2>
   
   <p>We may use the information provided by you for various purposes to enhance your business
        relationship with Campus Management, including: engaging in transactions or communications with you and your
        employer; verifying compliance with the agreement between Campus Management and your employer; providing future
        service and support; responding to user inquiries and requests for information; and informing you of new product
        and service offerings as they become available. </p>
        
   	<h2 class="secondary-header--alt">Disclosure of Information</h2>
        
   	<p>Although Campus
        Management does not sell, trade or transfer your information to third parties, we reserve the right to share the
        information with our business associates or “partners” for various reasons, including marketing, advertising or
        product and service offering purposes. We would also disclose this information if we are required to disclose it
        by court order or other legal process.</p>
        
   	<h2 class="secondary-header--alt">Security</h2>
    
    <p>The accuracy and security of your personal
        information is important to Campus Management. If you contact us to make any changes to your information, we
        will attempt to make those changes in a timely manner. Campus Management is concerned with the security of your
        information and has in place reasonable measures to prevent unauthorized access to that information. To that
        end, we put in place the appropriate physical, electronic and managerial procedures to secure your personal
        information.</p>
        
   	<h2 class="secondary-header--alt">Usernames and Passwords</h2>
    
    <p>Access to certain content on our web site may be
        allowed under a written agreement between you or your employer and Campus Management and will require a username
        and/or password. In some cases, failure to provide personal information may prevent you from accessing certain
        parts of our web site that may contain certain confidential information.</p>
        
   	<h2 class="secondary-header--alt">Procedure for CommentsAbout this Web site</h2>
    
    <p>Campus Management values accuracy, respectfulness and good taste in its
        marketing. Comments regarding inaccurate, defamatory, libelous, infringing, or other questionable content found
        in any Campus Management Web site or within any other properties produced and distributed by the Company should
        be submitted in writing to the Company’s Vice President of Marketing. Comments must include the sender’s contact
        information, including a mailing address and daytime telephone number. Such comments will be considered and
        replied to or remedied within ten (10) business days of receipt.</p>
        
        <p>Send comments to:<br/>
        Sr. Manager Corporate Web &amp; Interactive<br/>
        RE: Web site comments<br/>Campus Management Corp.<br/>
        5201 Congress Ave.<br/>
        Boca Raton, FL 33487 USA</p>
        
        <p>Or, e-mail <a href="mailto:webmaster@campusmgmt.com">webmaster@campusmgmt.com</a></p>
        
        <h2 class="secondary-header--alt">General</h2>
        
        <p>If you have questions regarding our Privacy Statement, please contact
        <a href="mailto:webmaster@campusmgmt.com">webmaster@campusmgmt.com</a></p>

</article>
{{/content}}

{{#content "after-body"}}

{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
