---
# <!-- @formatter:off -->
title:  Policy Documents
banner-image: /images/pages/products/talismaProductIcon.gif
show-in-quick-launch: false
show-in-left-nav: false
private: true
additional-scripts:
  - src: /scripts/commons--bsapps.js
    inline: false
  - src: /scripts/page--password-protected-download.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/password-protected-download.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}

{{#content "body"}}
<div class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>
    <h1 class="cmc-article__subtitle">{{title}}</h1>
    <p class="cmc-article__intro-p">Talisma Hosting Services Acceptable Use Policy</p>

    <div class="password-protected-download"
         data-site="talisma"
         data-group="en-in"
         data-doctype="password-protected-doc"
    >
        <div class="password-protected-download__ids" style="display: none;">57f09a2ef88f2157b6881192</div>
        <div class="password-protected-download__view-container">
            Loading...
        </div>
        <p class="password-protected-download__show-when-loaded"></p>
    </div>
</div>
{{/content}}

{{#content "after-body"}}
{{/content}}

{{/extend}}
