---
# <!-- @formatter:off -->
title: Become a Partner
banner-image: /images/pages/products/talismaProductIcon.gif
publish: draft
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--simple-form.js
    inline: true
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<div class="cmc-article">

    <h1 class="cmc-article__title--app">{{title}}</h1>

    <p class="cmc-article__sub-title--app">Please complete and submit the form below to inquire about partnership opportunities.</p>

    <form
        id="becomeAPartnerForm"
        class="cmc-form cmc-form--centered js--simple-form"
        action="become-a-partner/?site=talisma&group=en-in"
        data-lead-source="become a partner form"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="company">Company</label>
                    <div class="input-wrapper">
                        <input type="text" name="company" id="company" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-name">Contact Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-name" id="contact-name" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-title">Contact Title</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-title" id="contact-title" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-email">Contact Email</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-email" id="contact-email" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-phone">Contact Phone</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-phone" id="contact-phone" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="company-website">Company Website</label>
                    <div class="input-wrapper">
                        <input type="text" name="company-website" id="company-website" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="address">Address</label>
                    <div class="input-wrapper">
                        <textarea id="address" name="address" required></textarea>
                    </div>
                </li>
                <li>
                    <label class="required" for="city">City</label>
                    <div class="input-wrapper">
                        <input type="text" name="city" id="city" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="state">State</label>
                    <div class="input-wrapper">
                        <input type="text" name="state" id="state" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="zip">Zip/Postal Code</label>
                    <div class="input-wrapper">
                        <input type="text" name="zip" id="zip" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="country">Country</label>
                    <div class="input-wrapper">
                        <input type="text" name="country" id="country" required>
                    </div>
                </li>
                <li>
                    <label class="required long-label" for="description-of-services">Description of Product/Services
                        offered</label>
                    <div class="input-wrapper">
                        <textarea name="description-of-services" id="description-of-services" required></textarea>
                    </div>
                </li>
                <li>
                    <label class="required" for="year-established">Year Established</label>
                    <div class="input-wrapper">
                        <input type="text" name="year-established" id="year-established" required>
                    </div>
                </li>
                <li>
                    <label class="required long-label" for="number-employees">Total Number of Employees</label>
                    <div class="input-wrapper">
                        <input type="text" name="number-employees" id="number-employees" required>
                    </div>
                </li>
                <li>
                    <label class="" for="comments">Comments</label>
                    <div class="input-wrapper">
                        <textarea name="comments" id="comments"></textarea>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}


{{/extend}}
