---
# <!-- @formatter:off -->
title: Partners
banner-image: /images/pages/products/home/banner-talisma-logo.jpg
additional-scripts:
  - src: /scripts/commons--forms.js
    inline: false
  - src: /scripts/page--simple-form.js
    inline: true
  - src: /scripts/commons--bsapps.js
    inline: false
  - src: /scripts/page--partners.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/partners-list.css
    inline: true
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Become a Partner</p>
    <p class="cmc-article__intro-p">Through a strong partner network, Talisma connects its prospects and customers with
        a diverse set of solution
        providers that are essential to help them succeed and become best-run businesses.</p>

    <p>The structured program of alliance selection and management gives Talisma’s customers a powerful combination of
        unmatched support of
        business requirements and global expertise.</p>

    <p>
        The Talisma Partnership Framework defines Talisma’s various partner relationship models and offers a framework
        for combining Talisma’s products and services with that of the partners.
    </p>

    <p>Our partnership models:</p>

    <h2 class="secondary-header--alt">Business Partners</h2>

    <p>The Business Partners provide local expertise and solutions in specific markets, extending and complementing
        Talisma’s global reach with service and functional excellence. Covering various geographies, Business Partners
        enable the wide distribution of Talisma’s offerings and associated services.</p>

    <h2 class="secondary-header--alt">Complementary Solution Partners</h2>

    <p>
        Providing complementary solutions for specific functional and technology functions, Complimentary Solution
        Partners augment and enhance Talisma’s capabilities and vice-versa. Offering end to end solutions using combined
        partner and Talisma components in one seamless offering, Complementary Solution Partners enhance the value
        proposition to existing and prospective customers.
    </p>

    <h2 class="secondary-header--alt">Global Technology Partners</h2>

    <p>Providing key technological infrastructure and components, Global Technology Partners leverage their proven
        technological superiority to assist Talisma in mutually developing and supporting a strong solution set.</p>

    <p><a href="/contact-us/">Get in touch</a> with us to know how you can partner Talisma.</p>

</article>


<script>
    var partnersPreloadData = [{
        "Title": "Ameyo",
        "ID": 1,
        "Category": "",
        "Partner_x0020_Type": "",
        "Product": ["CampusNexus CRM"],
        "Content": "<div class=\"ExternalClass44AA62896F1D49AC85D9565ABFD6233F\"><p>Ameyo is an all-in-one software based communication solution that manages end-to-end customer journeys  and consistently delivers exceptional customer experiences. It is a powerful and highly flexible IP-based contact center software that lets you have a personalized interaction with every customer across multiple channels, thereby driving customer engagement to a level par excellence.</p><p>Designed on latest and robust technology, Ameyo delivers customer engagement solutions which help businesses to improve productivity and profitability and meet their overall goals of customer acquisition &amp; retention, repeat sales and requisitioning and business process automation.</p><p>For further details please visit <a href=\"http://www.ameyo.com/\">http://www.ameyo.com</a></p></div>",
        "logo": { "url": "/images/pages/partners/partner-catalog/ameyo.png", "altText": "Ameyo Logo" }
    }, {
        "Title": "Knowledge Powered Solutions",
        "ID": 2,
        "Category": "",
        "Partner_x0020_Type": "",
        "Product": ["CampusNexus CRM"],
        "Content": "<div class=\"ExternalClass2DF9E56C3C1D4A1FAA3B64D80B4E67B7\"><p>Knowledge Powered Solutions (KPS) specialise in providing Knowledge Management (KM) solutions for Customer Engagement environments including Web Self-Service, Call Centres, Service Desks and Shared Service Centres. The KPS product provides Customer Service staff, internal staff, external customers and citizens access to vital knowledge quickly and easily through a simple to use natural language interface.</p><p>Public and private sector organisations around the world use the KPS product to deliver productivity gains whilst also enabling an enhanced customer service experience.</p><p>For further details please visit <a href=\"http://www.kpsol.com/\" target=\"_blank\">www.kpsol.com</a></p></div>",
        "logo": {
            "url": "/images/pages/partners/partner-catalog/KPS-Logo-Square-Medium.png",
            "altText": "Knowledge Powered Solutions Logo"
        }
    }];

</script>
<div class="layout__bg--box-bg-grey">
    <div class="cmc-article">
        <h1 class="app__title"> Partner Catalog</h1>
        <p class="app__sub-title">Specialists in Helping You Succeed</p>

        <section id="partnerListApp" class="app partner-list-app">
            <div class="loading--placeholder">Loading...</div>
        </section>
    </div>
</div>


<div class="cmc-article">

    <h1 class="cmc-article__title--app">Become a Partner</h1>

    <p class="cmc-article__sub-title--app">Please complete and submit the form below to inquire about partnership
        opportunities.</p>

    <form
        id="becomeAPartnerForm"
        class="cmc-form cmc-form--centered js--simple-form"
        action="become-a-partner/?site=talisma&group=en-in"
        data-lead-source="become a partner form"
    >
        <fieldset>
            <ul>
                <li>
                    <label class="required" for="company">Company</label>
                    <div class="input-wrapper">
                        <input type="text" name="company" id="company" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-name">Contact Name</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-name" id="contact-name" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-title">Contact Title</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-title" id="contact-title" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-email">Contact Email</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-email" id="contact-email" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="contact-phone">Contact Phone</label>
                    <div class="input-wrapper">
                        <input type="text" name="contact-phone" id="contact-phone" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="company-website">Company Website</label>
                    <div class="input-wrapper">
                        <input type="text" name="company-website" id="company-website" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="address">Address</label>
                    <div class="input-wrapper">
                        <textarea id="address" name="address" required></textarea>
                    </div>
                </li>
                <li>
                    <label class="required" for="city">City</label>
                    <div class="input-wrapper">
                        <input type="text" name="city" id="city" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="state">State</label>
                    <div class="input-wrapper">
                        <input type="text" name="state" id="state" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="zip">Zip/Postal Code</label>
                    <div class="input-wrapper">
                        <input type="text" name="zip" id="zip" required>
                    </div>
                </li>
                <li>
                    <label class="required" for="country">Country</label>
                    <div class="input-wrapper">
                        <input type="text" name="country" id="country" required>
                    </div>
                </li>
                <li>
                    <label class="required long-label" for="description-of-services">Description of Product/Services
                        offered</label>
                    <div class="input-wrapper">
                        <textarea name="description-of-services" id="description-of-services" required></textarea>
                    </div>
                </li>
                <li>
                    <label class="required" for="year-established">Year Established</label>
                    <div class="input-wrapper">
                        <input type="text" name="year-established" id="year-established" required>
                    </div>
                </li>
                <li>
                    <label class="required long-label" for="number-employees">Total Number of Employees</label>
                    <div class="input-wrapper">
                        <input type="text" name="number-employees" id="number-employees" required>
                    </div>
                </li>
                <li>
                    <label class="" for="comments">Comments</label>
                    <div class="input-wrapper">
                        <textarea name="comments" id="comments"></textarea>
                    </div>
                </li>
                <li class="cmc-form__submit-row">
                    <button type="submit" class="cmc-form__submit-button" name="btnSave">Submit</button>
                </li>
            </ul>
        </fieldset>
    </form>

</div>

{{/content}}

{{#content "after-body"}}

{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
