---
# <!-- @formatter:off -->
title: Partner Catalog
banner-image: /images/pages/products/talismaProductIcon.gif
publish: draft
additional-scripts:
  - src: /scripts/commons--bsapps.js
    inline: false
  - src: /scripts/page--partners.js
    inline: true
additional-stylesheets:
  - href: /styles/pages/partners-list.css
    inline: true
# <!-- @formatter:on -->
---

{{#extend "hb-layouts/v3"}}
{{#content "body"}}

<script>
    var partnersPreloadData = [{
        "Title": "Ameyo",
        "ID": 1,
        "Category": "",
        "Partner_x0020_Type": "",
        "Product": ["CampusNexus CRM"],
        "Content": "<div class=\"ExternalClass44AA62896F1D49AC85D9565ABFD6233F\"><p>Ameyo is an all-in-one software based communication solution that manages end-to-end customer journeys  and consistently delivers exceptional customer experiences. It is a powerful and highly flexible IP-based contact center software that lets you have a personalized interaction with every customer across multiple channels, thereby driving customer engagement to a level par excellence.</p><p>Designed on latest and robust technology, Ameyo delivers customer engagement solutions which help businesses to improve productivity and profitability and meet their overall goals of customer acquisition &amp; retention, repeat sales and requisitioning and business process automation.</p><p>For further details please visit <a href=\"http://www.ameyo.com/\">http://www.ameyo.com</a></p></div>",
        "logo": { "url": "/images/pages/partners/partner-catalog/ameyo.png", "altText": "Ameyo Logo" }
    }, {
        "Title": "Knowledge Powered Solutions",
        "ID": 2,
        "Category": "",
        "Partner_x0020_Type": "",
        "Product": ["CampusNexus CRM"],
        "Content": "<div class=\"ExternalClass2DF9E56C3C1D4A1FAA3B64D80B4E67B7\"><p>Knowledge Powered Solutions (KPS) specialise in providing Knowledge Management (KM) solutions for Customer Engagement environments including Web Self-Service, Call Centres, Service Desks and Shared Service Centres. The KPS product provides Customer Service staff, internal staff, external customers and citizens access to vital knowledge quickly and easily through a simple to use natural language interface.</p><p>Public and private sector organisations around the world use the KPS product to deliver productivity gains whilst also enabling an enhanced customer service experience.</p><p>For further details please visit <a href=\"http://www.kpsol.com/\" target=\"_blank\">www.kpsol.com</a></p></div>",
        "logo": { "url": "/images/pages/partners/partner-catalog/KPS-Logo-Square-Medium.png", "altText": "Knowledge Powered Solutions Logo" }
    }];

</script>
<div class="cmc-article">
    <h1 class="app__title">{{title}}</h1>
    <p class="app__sub-title">Specialists in Helping You Succeed</p>

    <section id="partnerListApp" class="app partner-list-app">
        <div class="loading--placeholder">Loading...</div>
    </section>

</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
