---
# <!-- @formatter:off -->
title: Banking
menu-priority: 0.6
banner-image: /images/pages/industries/banking/banner-banking.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Experiential Banking</h1>
    <p class="cmc-article__subtitle">With Customers Asking for Rich Services and Interactions in Real-time, Banks Cannot Afford to Rest Easy</p>

    <p class="cmc-article__intro-p">Along with constant service enhancements, banks need to invest in upgrading their customer experience strategy and
        delivery tactics to better align with changing customer preferences. This is where we come in.</p>

    <h2 class="secondary-header--alt">Talisma has the right solutions</h2>

    <p>With over two decades experience in enabling global banks deliver a unique experience to customers, Talisma
        possesses an enviable track record. For banks that wish to competitively differentiate themselves, we have a
        portfolio of products, consulting options and services that can fit every banking business model out there.</p>

    <p>Our solutions help:</p>

    <ul class="list--normal list--has-lead-in">
        <li>Plan, execute and monitor multi-channel marketing campaign</li>
        <li>Conduct automated closed-loop campaigns, newsletters, and surveys to develop awareness, generate prospect
            leads
        </li>
        <li>Plan, define, and track outbound email, telephone, SMS, and print campaigns</li>
        <li>Generate detailed reports on campaign return on investment (ROI)</li>
        <li>Banks leverage a robust workflow engine that provides a variety of personalization and productivity
            enhancement features for outbound multi-channel marketing
        </li>
    </ul>

</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <ul class="info-box-list">
        <li class="info-box">
            <h2 class="info-box__title">Process and Customer-centric</h2>
            <img class="info-box__img" alt="" src="/images/pages/industries/ITES/box-ITES-biz-processes.png"/>
            <div class="info-box__content-wrapper--left">
                <p>Our solutions helps banks attain a higher level of process maturity across key customer and engagement areas.
        Talisma CEM enables banks to develop new processes and tweak existing ones to offer a holistic experience across
        transactions and channels. These processes can revolve around an existing need or can be a new one.</p>
            </div>
        </li>
        <li class="info-box info-box--operational-efficiency">
            <h2 class="info-box__title">Used by Virtually Every Indian Bank</h2>
            <img alt="" class="info-box__img" src="/images/pages/industries/banking/box-every-bank.png"/>
            <div class="info-box__content-wrapper--left">
                <p>From top 4 private banks to leading public sector banks all the way to banks of all sizes across the length and
        breadth of the country have chosen Talisma’s Customer Experience solutions to address their most challenging
        business needs. Infact, 5 of the top ten banks in India are Talisma customers. In addition we are also powering
        banks in the Middle East.</p>
            </div>
        </li>
    </ul>
</div>

<div class="layout__bg--info-box-alt-row">
    <ul class="info-box-list">
        <li class="info-box">
            <h2 class="info-box__title">Do much more with Talisma’s CEM offerings</h2>
            <!--<img class="info-box__img" alt="" src="/images/pages/who-we-serve/private/box-more-options.png"/>-->
            <div class="info-box__content-wrapper--left">
                <ul class="list--normal list--checkmark-bullet">
                    <li style="padding: .75rem 0 1rem 3rem;">Enhanced wallet share of the customer</li>
                    <li style="padding: .75rem 0 1rem 3rem;">Track and reduce customer attrition</li>
                    <li style="padding: .75rem 0 1rem 3rem;">Offer relationship-based pricing</li>
                    <li style="padding: .75rem 0 1rem 3rem;">Smoothen customer on-boarding, servicing and retention</li>
                </ul>
            </div>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with 
                    the Bank. We are able to manage customer interactions at all touch points and use that data 
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
    </ul>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
