---
# <!-- @formatter:off -->
title: Government
menu-priority: 0.8
banner-image: /images/pages/industries/government/banner-gov.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma CRM for Government</h1>
    <p class="cmc-article__subtitle">Provide Citizens Access to Information and Services 24/7</p>

    <p class="cmc-article__intro-p">Provide citizens a digital gateway to services.</p>

    <p>Talisma Citizen Relationship Management (CRM) puts citizens at the heart of your agency&#39;s processes,
        activities, and information. This multichannel communications solution creates a digital gateway to information
        and services, delivering the right information, to the right people, at the right time, through the right
        communications channel.</p>

    <p>Talisma CRM for Government helps you unite departments and comply with a variety of regulatory requirements for
        public disclosure. The solution helps speed and improve resolution rates by capturing and analyzing important
        data pertaining to communications, concerns,and public dissemination of relevant and timely information.</p>

    <p>Talisma CRM empowers citizens:</p>

    <ul class="list--normal list--has-lead-in">
        <li>Solicit, track, and respond dynamically to citizen feedback</li>
        <li>Automatically categorize, prioritize, and route calls</li>
        <li>Improve response times and resolution rates</li>
        <li>Provide 24/7 on-demand access to public information</li>
        <li>Schedule meetings and enable payments and event registration online</li>
        <li>Easily comply with regulatory requirements regarding dissemination of information</li>
    </ul>

    <p>Today, government agencies can engage citizens, automate workflows, and reduce expenses, with Talisma CRM for
        Government.</p>


</article>
{{/content}}

{{#content "after-body"}}
<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Resolve Issues Faster and More Efficiently</h2>
            <img class="info-box__img" alt="" src="/images/pages/industries/government/box-efficiency.png"/>
            <div class="info-box__content-wrapper--left">
                <p>Talisma CRM helps improve resolution rates by capturing and analyzing important data pertaining to issues 
                and complaints. A built-in grievance redressal mechanism allows calls, issues, and service requests to be 
                automatically categorized, prioritized and routed to appropriate staff members, enabling better response time, 
                visibility and personalized responses.</p>
            </div>
        </li>
        <li class="info-box info-box--testimonial">
            <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with the Bank. 
                    We are able to manage customer interactions at all touch points and use that data to work out customer 
                    requests in real time while keeping customer informed of the progress.
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">IndusInd Bank</div>
                </div>
            </div>
        </li>
    </ul>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
