---
# <!-- @formatter:off -->
title: Industries
menu-priority: 0.7
banner-image: /images/pages/products/home/banner-talisma-logo.jpg
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}" />

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Talisma CRM Tailored to Your Industry</p>

    <p class="cmc-article__intro-p">Talisma software is tailored to your industry’s culture, constituents, and
        best practices.</p>

    <p>We understand your organizational processes and workflows and deliver products aligned with your unique
        audience, whether they are students, clients, citizens, or global companies.</p>

    <p>With Talisma software, you can create targeted marketing campaigns consistently across multiple communications
        channels, analyze campaign effectiveness, increase brand awareness and profits, and provide exceptional
        customer service.</p>


</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Talisma CRM for Financial Services</h2>
            <img class="info-box__img" alt="Financial Services"
                 src="/images/pages/industries/home/box-financial-services.png" />
            <div class="info-box__content-wrapper--left">
                <p>Unite branches and communcations histories, deliver products online, automate sales processes,
                    differentiate in a crowded market through exceptional customer service and inncrease cross-sell and
                    upsell opportunities.</p>
            </div>
            <a class="info-box__link" href="/industries/financial-services/">Details</a>
        </li>
        <li class="info-box">
            <h2 class="info-box__title">Talisma CRM for Travel &amp; Leisure</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/industries/travel/box-travel.png" />
            <div class="info-box__content-wrapper--left">
                <p>Build and sustain brand loyalty, create a single, comprehensive view of customers and their vacation,
                    business, and travel patterns, and increase cross-sell and upsell opportunities</p>
            </div>
            <a class="info-box__link" href="/industries/travel-and-hospitality/">Details</a>
        </li>
</div>

<div class="layout__bg--info-box-alt-row">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Talisma CRM for Government</h2>
            <img class="info-box__img" alt="CRM for Government" src="/images/pages/industries/home/box-gov.png" />
            <div class="info-box__content-wrapper--left">
                <p>Provide citizens instant access to government services and information over the Web, and improve
                    workflows and communications with employees and other government agencies.</p>
            </div>
            <a class="info-box__link" href="/industries/government/">Details</a>
        </li>
        <li class="info-box">
            <h2 class="info-box__title">Talisma CRM for BPOs</h2>
            <img class="info-box__img" alt="Talisma CRM for BPOs" src="/images/pages/industries/home/box-ites.png" />
            <div class="info-box__content-wrapper--left">
                <p>Ensure an exceptional and consistent customer experience across Websites, contact centers, print,
                    and email on behalf of global companies.</p>
            </div>
            <a class="info-box__link" href="/industries/ites/">Details</a>
        </li>
</div>

{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
