---
# <!-- @formatter:off -->
title: Travel and Hospitality
menu-priority: 0.5
banner-image: /images/pages/industries/travel/banner-travel.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Build and Maintain Loyalty in a Competitive Online Market</p>

    <p class="cmc-article__intro-p">Enhance customer loyalty and advocacy through exceptional customer experience.</p>

    <p>Travel customers have countless online travel sites to choose from when booking hotels, flights, and packaged
        vacations, often without any loyalty to one brand or another, driving down revenues and margins as a result.</p>

    <p>To build and sustain relationships with these customers, travel and leisure companies are turning to Talisma CRM. The
        product enables you to increase profitability through customized marketing, multichannel communications, and
        advanced analytics.</p>

  	<p>With Talisma CRM, service providers gain a better understanding of customer histories and buying patterns, make
        optimal sales suggestions, and increase net income without replacing systems or adding more staff.</p>

    <p>Today, leading travel and leisure organizations rely on Talisma CRM’s robust solution package to manage customer
        relationships and deliver world-class customer service.</p>

</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
