---
# <!-- @formatter:off -->
title: Cloud
menu-priority: 0.7
banner-image: /images/pages/services/hosted/banner-hosted.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma Cloud</h1>
    <p class="cmc-article__subtitle">On-Demand or On-Site</p>

    <p class="cmc-article__intro-p">You don’t need to change the way you do business to implement Talisma CRM. We can implement and host the software
        on our servers or deploy the solution at your facilities, depending on your needs.</p>

    <h2 class="secondary-header--alt">Talisma Cloud</h2>

    <p>Talisma Cloud provides very high levels of performance, security, and reliability to support applications in a
        world-class facility. Hosting with Talisma relieves the burden on overworked IT staff and allows companies
        without IT infrastructure to have online-hosted CRM services available 24x7. Talisma customers benefit from
        rapid deployment and exceptional service and support.</p>

    <ul class="list--normal">
        <li>Carrier-class enterprise data centers</li>
        <li>Unmatched security, reliability, unlimited capacity, and scalability</li>
        <li>Experienced and certified professionals with a proven track record of managing and monitoring systems</li>
        <li>Well-defined process for managing change, capacity, availability, configuration, and help-desk processes
        </li>
    </ul>

    <h2 class="secondary-header--alt">Talisma On-Site</h2>

    <p>Talisma On-Site allows you to leverage your existing investment in IT infrastructure and drive additional return
        from it. Talisma On-Site is a licensing option for the Talisma CRM solution. In effect, you own the software and
        remain current with new releases and upgrades through ongoing maintenance programs.</p>
</article>
{{/content}}

{{#content "after-body"}}

{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
