---
# <!-- @formatter:off -->
title: Expert Services
menu-priority: 0.6
banner-image: /images/pages/services/banner-expert.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Spend More Time with Customers, Less Time Managing Systems</p>

    <p class="cmc-article__intro-p">Organizations can leverage expertise and experience readily available from Talisma Expert Services to outsource
        maintenance and support for Talisma solutions.</p>

    <p>Outsourcing application management, product support, and administration helps meet challenging staffing
        requirements, solution delivery deadlines, and changing business needs, often at a fraction of the cost of
        internal resources.</p>

    <p>Our services can work as an extension to an existing IT department or function as an offsite group for an
        organization.</p>

    <h2 class="secondary-header--alt">Support for Talisma solutions includes:</h2>

    <ul class="list--normal">
        <li>Performance monitoring</li>
        <li>Database management</li>
        <li>Service pack/hotfix installation</li>
        <li>Server administration</li>
        <li>Recovery planning</li>
    </ul>

    <p>Talisma Expert Services performs regular monitoring and upgrade responsibilities through remote services. Taking
        remote desktop control of the end-user/server machines, our administrators are able to install, troubleshoot,
        and monitor the Talisma software at periodic intervals with minimal user/administrator intervention. This
        ensures centralized version control, root cause troubleshooting, performance monitoring, and exceptional overall
        system health.</p>

    <p>
        For more information, contact your account manager or email
        <a href="mailto:salesapac@talisma.com">salesapac@talisma.com</a>.
    </p>
</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
