---
# <!-- @formatter:off -->
title: Implementation
menu-priority: 0.9
banner-image: /images/pages/services/banner-implementation.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Rapid Implementation</h1>
    <p class="cmc-article__subtitle">Delivering Solutions In Record Time</p>

    <p class="cmc-article__intro-p">The Talisma Global Professional Services group provides comprehensive implementation services that help customers
        achieve organizational objectives in a rapid timeframe.</p>

    <p>Extensive experience, developed from hundreds of customer implementations around the globe, coupled with industry
        best practices ensure that every deployment is successful.</p>

    <p>This dynamic methodology is the cornerstone for providing a proven and repeatable process to comprehend complex
        or simple deployments. Talisma will leverage existing legacy systems to reduce costs and retain previous
        organizational investments.</p>

    <p>Whether you choose to maintain your platform on-site or have us host and manage the platform for you, you have
        the confidence of knowing that your solution will be delivered on time and within budget.</p>

    <h2 class="secondary-header--alt">Talisma implementation experts include:</h2>

    <ul class="list--normal">
        <li>Functional analysts with expertise in specific business verticals</li>
        <li>Trained and certified project managers</li>
        <li>Technical analysts</li>
        <li>Subject Matter Experts (SME)</li>
        <li>Best-practices consultants</li>
    </ul>

    <p>Contact us today to find out more about our rapid implementation methodology. You are closer than you think to
        enhancing customer services with Talisma CRM.</p>


</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
