---
# <!-- @formatter:off -->
title: Services
menu-priority: 0.8
banner-image: /images/pages/products/home/banner-talisma-logo.jpg
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">World-class Services</p>

    <p class="cmc-article__intro-p">We are committed to your success and have extensive experience in implementation, support, and IT management
        across higher education, government, and industry.</p>

    <p>Experienced consultants and technical experts bring the right knowledge and skills for efficient, thoughtful
        deployment of the most trusted technologies for optimizing relationships with customers, citizens, students, and
        other constituents.</p>

    <h2 class="secondary-header--alt">Services include:</h2>

    <ul class="list--normal">
        <li><a href="/services/implementation/"><b>Implementation</b></a> that leverages industry best practices</li>
        <li><a href="/services/integration/"><b>Integration</b></a> that unites and automates information and workflows</li>
        <li><a href="/services/hosting/"><b>Hosting and SaaS</b></a> that lets you access solutions without having to manage them</li>
        <li><a href="/services/expert-services/"><b>Expert Services</b></a> for outsourcing application management, support, and
            administration
        </li>
        <li><a href="/services/training/"><b>Training</b></a> that optimizes user-proficiency in days</li>
        <li><a href="/services/support/"><b>Support</b></a> that is proactive and committed to resolving any issue</li>
    </ul>
</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
