---
# <!-- @formatter:off -->
title: Integration
menu-priority: 0.8
banner-image: /images/pages/services/banner-integration.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma Integration Services</h1>
    <p class="cmc-article__subtitle">A Global Team of Dedicated IT Professionals</p>

    <p class="cmc-article__intro-p">With rich experience and best practices honed over years of supporting diverse industries, the Talisma
        Integration Services team can deliver technology solutions and enhancements tailored to your working world.</p>

    <p>The team combines project management and solution architecting skills with domain expertise across banking,
        insurance, higher education, knowledge management, mutual funds, asset management, travel and leisure, human
        resources, securities (financial), sales automation, BPO, government agencies, and more.</p>

    <p>Whether it is working on custom connectors, add-ins, custom authentication, custom portals, reports, scripts, CTI
        integration, real-time integration with customer-specific applications, or other services, this team has the
        technology expertise to make it happen.</p>

    <p>Talisma customers can learn more about the latest enhancements and upgrades available by contacting their Account
        Manager or emailing <a href="mailto:salesapac@talisma.com">salesapac@talisma.com.</a></p>
</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
