---
# <!-- @formatter:off -->
title: Support
menu-priority: 0.4
banner-image: /images/pages/services/banner-support.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma Support</h1>
    <p class="cmc-article__subtitle">Unmatched Service from a Dedicated Support Team</p>

    <p class="cmc-article__intro-p">Our commitment to your success doesn’t stop once we implement your Talisma
    solution. It continues throughout the lifecycle of the product.

 	<p>The company’s support and maintenance programs for Talisma solutions include a wide range of services and
        value-added benefits.</p>

    <p>We offer an ongoing Customer Care Program that includes Webinars, training programs, users groups, and more. The
        objective is to ensure that Talisma delivers a truly exceptional customer experience.</p>

    <h2 class="secondary-header--alt">Talisma Customer Care is committed to:</h2>

    <ul class="list--normal">
        <li>Consistently delivering an exceptional customer experience</li>
        <li>Enhancing customer satisfaction</li>
        <li>Understanding your needs and how you use our products and services</li>
        <li>Coordinating with internal teams to deliver on our promise of customer satisfaction</li>
        <li>Developing programs for new and existing customers</li>
        <li>Functioning as an advocate for customers</li>
    </ul>

    <p>With Talisma Customer Care, you know your solution is backed by an experienced team committed to your
        success.</p>

</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
