---
# <!-- @formatter:off -->
title: Training
menu-priority: 0.5
banner-image: /images/pages/services/banner-training.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma Learning Centre</h1>
    <p class="cmc-article__subtitle">Creating a Knowledgeable Workforce</p>

    <p class="cmc-article__intro-p">Talisma Learning Centre caters to the training needs of each department of your organisation.</p>

    <p>Offered in a variety of formats including online courses, onsite classroom training and training at one of Talisma’s
        facilities, our courseware covers the entire spectrum of basic, advanced and customized learning.</p>

    <p>Readily available, round-the-clock training for your employees helps reduce your product onboarding and refresher
        training cost. Online training formats help new product users gain product knowledge with relative ease. A
        knowledgeable workforce helps reduce the time required to get the product running smoothly, which leads to
        increased productivity and ROI.</p>

    <p>Designed as per the latest industry standards, our interactive learning modules inspire you to embark on a
        journey of learning.</p>

    <p><strong>Experts in developing:</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li>Customized role-based product training</li>
        <li>New joiner and refresher training</li>
        <li>What’s New</li>
        <li>Feature Demos and more…</li>
    </ul>

    <p><strong>Enrich your learning experience by:</strong></p>

    <ul class="list--normal list--has-lead-in">
        <li>Getting the training content customized as per your requirements</li>
        <li>Learning through engaging and visually attractive courses</li>
    </ul>
    <h2 class="secondary-header--alt">Enroll Now</h2>

    <p>To know how to access our training library and get customized training packages for your organization, send an
        e-mail to <a href="mailto:talismalearningcentre@talisma.com">talismalearningcentre@talisma.com.</a>
        Alternatively, contact your Account Manager.</p>

</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
