---
# <!-- @formatter:off -->
title: Talisma Customer Onboarding Platform
menu-priority: 0.6
meta-keywords: post purchase dissonance, proactive customer engagement, new customer acquisition, higher revenues, customer activation, customer service revenues, integrated marketing and service platform
banner-image: /images/pages/solutions/banner-proactive-engagement.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">{{title}}</h1>
    <p class="cmc-article__subtitle">Proactively Engage Your Customers</p>

    <p class="cmc-article__intro-p">Reduce post purchase dissonance and change attitudes by proactively engaging your customer.</p>

    <p>Brands are faced with increasing dissonance leading to lower revenues from new customer acquisitions. This is especially relevant when attitudes are changed and made by the minute in today’s digital age. In most scenarios the responsibility is with the customer activation and service teams who are held accountable for revenues being generated.</p>

    <p>Talisma’s platform drives efficiency across your entire customer on-boarding process by integrating both marketing and service operations as a single seamless journey for the customer. The platform lets you set filters based on customer demographics and journey stage progression to effectively personalise the engagement across customer’s preferred choice channels and influence them to increase their transactional activity and gain higher revenues.</p>

    <p>You can now track, improve Customer Journey experience, reduce dissonance and change attitudes by proactively engaging customers during their initial interactions with your Brand.</p>

</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
