---
# <!-- @formatter:off -->
title: Talisma Launch Box
menu-priority: 0.9
meta-keywords: Product launch management, product launch and analytics platform, launchbox, lead management engine, predictive capability, predictive analytics, lead nurturing, probability scores, weighted index model, campaign performance report, real time trends, higher conversion, stakeholder reports, consumer insights, cross sell, upsell
banner-image: /images/pages/solutions/banner-launch-box.png
# <!-- @formatter:on -->
---
{{#extend "hb-layouts/v3"}}
{{#content "body"}}
<article class="cmc-article">
    <img class="cmc-article__article-image" src="{{banner-image}}"/>

    <h1 class="cmc-article__title">Talisma Launch Box</h1>
    <p class="cmc-article__subtitle">Integrated Product Launch Management and Analytics Platform</p>

    <p class="cmc-article__intro-p">Manage outcome driven launch programs for maximum results.</p>

    <p>Brand activation mangers are under tremendous pressure to deliver in a highly competitive landscape. In a scenario where over 50% of new products fail, how do you succeed in a world, where instant gratification, multiple brand choices with very little product differentiation and buying behaviour influences are ever increasing?</p>

    <p> A platform that comes with a true Omni channel capability, a powerful Lead management engine with predictive capability and actionable insights to help you take real time decisions to get that great launch!</p>

    <p>Whether you choose to maintain your platform on-site or have us host and manage the platform for you, you have
        the confidence of knowing that your solution will be delivered on time and within budget.</p>

    <h2 class="secondary-header--alt">Effectively engage your audiences using the Omni-channel advantage</h2>

    <p>Activate all channels, don’t miss any conversations. Gain customer insights – see most discussed topics and control conversations to enhance sentiments and Maximize interactions.</p>

    <h2 class="secondary-header--alt">Improve your lead nurturing and management process</h2>

    <p>Assign probabilities and strategically nurture your prospects for increased conversions – leverage the power of the pre built-in weighted index model based on situations and seriousness More leads, more conversions – get real time data on achieved number vs goals.</p>

    <h2 class="secondary-header--alt">Gain critical business insights</h2>

    <p>Empower yourself with actionable insights - Analyse incoming trends in real time, measure campaign performance and ensure a higher conversion ratio. Powerful and easy to generate reports that helps all connected stakeholders on consumer insights and Launch stats to make real time decisions.</p>


</article>
{{/content}}

{{#content "after-body"}}

<div class="layout__bg--info-box">
    <ul class="info-box-list">

        <li class="info-box">
            <h2 class="info-box__title">Hosted or Licensed — It’s Your Choice</h2>
            <img class="info-box__img" alt="Hosted Solution" src="/images/pages/services/hosted/box-hosted.png"/>
            <div class="info-box__content-wrapper--left">
                <p>You don’t need to change the way you do business to implement Talisma CRM. We can implement
                and host the software on our servers or deploy the solution at your facilities, depending on your needs.
                </p>
            </div>
            <a class="info-box__link" href="/services/cloud/">Details</a>
        </li>
        <li class="info-box info-box--testimonial">
        <h2 class="info-box__title">IndusInd Bank</h2>
            <div class="testimonial app" id="page_testimonial">
                <p class="testimonial__quote">
                    Talisma helped us implement a customer experience that we wanted our clients to have with
                    the Bank. We are able to manage customer interactions at all touch points and use that data
                    to work out customer requests in real time while keeping customer informed of the progress
                </p>
                <div class="testimonial__author">
                    <div class="testimonial__author__name">Mridul Sharma</div>
                    <div class="testimonial__author__title">Executive Vice President</div>
                    <div class="testimonial__author__company">Head Solution Delivery - IndusInd Bank</div>
                </div>
            </div>
        </li>
</div>
{{/content}}

{{#content "link-boxes"}}
{{>[link-box/request-a-demo] href="/contact-us/?reason=Request%20a%20Demo"}}
{{>[link-box/rfi-rfp]}}
{{>[link-box/news]}}
{{>[link-box/resource-library]}}
{{/content}}

{{/extend}}
