<footer class="cmc-footer">
    <div class="cmc-footer__vcard__org">
        <div class=" cmc-footer__section-title">Talisma Corporation Pvt. Ltd.</div>
        <div class="adr">
            <div class="street-address">3rd Floor, Olympia/Building-01<br />
                Bagmane Tech Park, C V Raman Nagar <br />
                Byrasandra, Bangalore - 560 093, India
            </div>
        </div>
    </div>

    <div class="cmc-footer__contact-container">
        <div class="cmc-footer__vcard__contact-numbers">
            <div class="cmc-footer__section-title">Contact Numbers</div>

            <div class="tel">
                <span class="type">Board line: </span><span class="value">+91-80-4339-8444</span>
            </div>
        </div>
        <div class="cmc-footer__contact-links">
            <div class="cmc-footer__section-title">Contact Links</div>
            <ul>
                <li><a href="/contact-us/">Contact Us</a></li>
            </ul>
        </div>
        <div class="cmc-footer__careers-links">
            <div class="cmc-footer__section-title">Careers</div>
            <ul>
                <li><a href="/about-us/careers/">View Jobs</a></li>
            </ul>
        </div>
    </div>


    <div class="cmc-footer__about-us-links">
        <div class="cmc-footer__section-title">Products</div>
        <ul>
            <li><a href="{{@root.config.domains.cmc}}/products/digital-customer-engagement-platform/">Digital Customer
                Engagement Platform</a></li>
            <li><a href="{{@root.config.domains.cmc}}/products/">Customer Relationship Management</a></li>
        </ul>
    </div>

    <div class="cmc-footer__news-and-events-links">
        <div class="cmc-footer__section-title">Services</div>
        <ul>
            <li><a href="{{@root.config.domains.cmc}}/services/implementation/">Implementation</a></li>
            <li><a href="{{@root.config.domains.cmc}}/services/integration/">Integration</a></li>
            <li><a href="{{@root.config.domains.cmc}}/services/cloud/">Cloud</a></li>
            <li><a href="{{@root.config.domains.cmc}}/services/expert-services/">Expert Services</a></li>
            <li><a href="{{@root.config.domains.cmc}}/services/training/">Training</a></li>
            <li><a href="{{@root.config.domains.cmc}}/services/support/">Support</a></li>
        </ul>
    </div>


    <div class="layout__row cmc-footer__copyright-row">
        <small class="cmc-footer__copyright">©{{thisYear}} Campus Management Corp. All Rights Reserved | <a
            href="{{@root.config.domains.cmc}}/about-us/privacy/">Privacy</a></small>
    </div>

</footer>
