<section id="home-page-carousel" data-interval="10000" class="home-page-carousel carousel slide">
    <div class="home-page-carousel__border">
        <h1>Campus News</h1>
        <div class="carousel-inner" role="listbox">


            <div class="item active">
                <div class="home-page-carousel__item home-page-carousel__item--centered">
                    <div class="home-page-carousel__img-wrapper"><img class="home-page-carousel__img" alt="Engagement to Fulfilment"
                             src="/images/pages/homepage-carousel/engagement-fulfilment-carousel.png"/>
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <p class="home-page-carousel__sub-title">Engage. Enable. Empower.</p>
                        <div class="home-page-carousel__content-body" style="">
                            <p>Digital Customer Engagement Platform (DCEP). Engage in profitable conversations on social media. Strengthen your brand and reputation across the internet.</p>
                        </div>
                        <ul class="home-page-carousel__link-list">
                            <li>
                                <a href="/products/digital-customer-engagement-platform/">More</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


            <div class="item">
                <div class="home-page-carousel__item home-page-carousel__item--left">
                    <div class="home-page-carousel__img-wrapper">
                        <img class="home-page-carousel__img" alt="On Premises, Hosted or Hybrid"
                             src="/images/pages/homepage-carousel/hosted-carousel.png"/>
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <p class="home-page-carousel__sub-title">On Premises, Hosted or Hybrid</p>
                        <div class="home-page-carousel__content-body">
                            <ul class="list--normal">
								<li>Reduced IT Investments</li>
								<li>Reduced TCO & Enhanced ROI</li>
								<li>Enhanced Reliability</li>
								<li>Faster Deployment Time</li>
							</ul>
                            <ul class="home-page-carousel__link-list">
                                <li>
                                    <a href="/services/cloud/">More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="home-page-carousel__item home-page-carousel__item--left">
                    <div class="home-page-carousel__img-wrapper">
                        <img class="home-page-carousel__img" alt="Experiential Banking"
                             src="/images/pages/homepage-carousel/indusind-carousel.png"/>
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <p class="home-page-carousel__sub-title">IndusInd Embraces Experiential Banking</p>
                        <div class="home-page-carousel__content-body">
                            <ul class="list--normal">
								<li>60% increase in CSAT survey</li>
								<li>70% increase in FTR</li>
								<li>30% increase in back-office productivity</li>
								<li>50% increase in upsell and cross-sell</li>
							</ul>
                            <ul class="home-page-carousel__link-list">
                                <li>
                                    <a href="/docs/product-sheets/talisma/en-in/Indus_Ind_Case_Study.pdf">View Case Study</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

			<div class="item">
                <div class="home-page-carousel__item home-page-carousel__item--right">
                    <div class="home-page-carousel__img-wrapper">
                        <img class="home-page-carousel__img" alt="Financial Services"
                             src="/images/pages/homepage-carousel/financial-services-carousel.png"/>
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <p class="home-page-carousel__sub-title">Talisma CX Platform Powers Financial Services</p>
                        <div class="home-page-carousel__content-body">
                            <ul class="list--normal">
								<li>Deployed in over 26 countries</li>
								<li>4 out of every 5 Mutual Fund institutions</li>
								<li>5 of the top 10 Indian banks</li>
								<li>5 of the top 10 Indian insurers</li>
								<li>6 of the top 10 Indian securities/wealth management</li>
							</ul>
                            <ul class="home-page-carousel__link-list">
                                <li>
                                    <a href="/docs/product-sheets/talisma/en-in/Indus_Ind_Case_Study.pdf">View Case Study</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

			<div class="item">
                <div class="home-page-carousel__item home-page-carousel__item--right">
                    <div class="home-page-carousel__img-wrapper">
                        <img class="home-page-carousel__img" alt="Asian Banker Award"
                             src="/images/pages/homepage-carousel/asian-banker-awards-carousel.gif"/>
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <h2 class="home-page-carousel__title">IndusInd Bank and Talisma Corporation</h2>
                        <p class="home-page-carousel__sub-title">Win Best CRM Implementation Project</p>
                        <div class="home-page-carousel__content-body">
                            <ul class="list--normal">
								<li>IndusInd Bank implemented a customer experience management system bringing strong functional improvements</li>
								<li>Integrated platform that gives a single view of customer relationship and multichannel CRM management</li>
								<li>Significantly improves operational efficiency and customer experience</li>
							</ul>
                            <ul class="home-page-carousel__link-list">
                                <li>
                                    <a href="/documents/Talisma-and-Induslnd-Bank-win-best-CRM-implementation.pdf" target="_blank">More</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

			<div class="item">
                <div class="home-page-carousel__item home-page-carousel__item--right">
                    <div class="home-page-carousel__img-wrapper">
                        <img class="home-page-carousel__img" alt="Childline"
                             src="/images/pages/homepage-carousel/childline-carousel.png"/>
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <h2 class="home-page-carousel__title">Talisma DCEP</h2>
                        <p class="home-page-carousel__sub-title">CHILDLINE Deploys Talisma</p>
                        <div class="home-page-carousel__content-body">
							<p>CHILDLINE the country’s first toll-free tele-helpline for street children deploys Talisma Digital Customer Engagement Platform.</p>
                            <ul class="list--normal">
								<li>35% decrease in AHT</li>
								<li>25% increase in contact Centre productivity</li>
								<li>30% cost savings</li>
							</ul>
                            <ul class="home-page-carousel__link-list">
                                <li>
                                    <a href="/docs/product-sheets/talisma/en-in/Childline-Case-Study.pdf" target="_blank">View Case Study</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

			<div class="item">
                <div class="home-page-carousel__item home-page-carousel__item--left">
                    <div class="home-page-carousel__img-wrapper">
                        <img class="home-page-carousel__img" alt="ITC Hotels"
                             src="/images/pages/homepage-carousel/itc-hotel-carousel.png"/>
                    </div>
                    <div class="home-page-carousel__item-content-wrapper">
                        <p class="home-page-carousel__sub-title">ITC Hotels Manage Guest Experience with Talisma DCEP</p>
                        <div class="home-page-carousel__content-body">
                            <ul class="list--normal">
								<li>43% increase in guest satisfaction</li>
								<li>36% decrease in AHT</li>
								<li>32% increase in contact centre productivity</li>
								<li>24% of cost savings</li>
							</ul>
                            <ul class="home-page-carousel__link-list">
                                <li>
                                    <a href="/docs/product-sheets/talisma/en-in/ITC_CaseStudy.pdf" target="_blank">View Case Study</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <ol class="carousel-indicators">
        <li data-target="#home-page-carousel" class="active" data-slide-to="0">
            <span class="carousel-indicators__graphic">1</span>
        </li>
        <li data-target="#home-page-carousel" class="" data-slide-to="1">
            <span class="carousel-indicators__graphic">2</span>
        </li>
        <li data-target="#home-page-carousel" class="" data-slide-to="2">
            <span class="carousel-indicators__graphic">3</span>
        </li>
		<li data-target="#home-page-carousel" class="" data-slide-to="3">
            <span class="carousel-indicators__graphic">3</span>
        </li>
		<li data-target="#home-page-carousel" class="" data-slide-to="4">
            <span class="carousel-indicators__graphic">3</span>
        </li>
		<li data-target="#home-page-carousel" class="" data-slide-to="5">
            <span class="carousel-indicators__graphic">3</span>
        </li>
		<li data-target="#home-page-carousel" class="" data-slide-to="6">
            <span class="carousel-indicators__graphic">3</span>
        </li>

    </ol>

    <a class="left carousel-control" href="#home-page-carousel" role="button" data-slide="prev">
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#home-page-carousel" role="button" data-slide="next">
        <span class="sr-only">Next</span>
    </a>
</section>
