<div class="layout__bg--events">
    <div class="layout__container">
        <section class="home-page-events">
            <h1>Campus Events</h1>
            <ul class="home-page-events-list">
                <li class="home-page-events__item__wrap">
                    <div class="home-page-events__item home-page-events__item--No-Icon">
                        <h2><span>Talisma Partnership Framework</span></h2>
                        <p class="home-page-events__text">​​Through a strong partner network, Talisma connects its prospects and customers with a diverse set of solution providers.</p>
                        <a class="home-page-events-item__details-link"
                           href="/partners/">More</a>
                    </div>
                </li>
                <li class="home-page-events__item__wrap">
                    <div class="home-page-events__item home-page-events__item--Press-Release">
                        <h2><span>News and Insights</span></h2>
                        <p class="home-page-events__text">There's always something innovative going on at Talisma. Stay up-to-date with all of our latest news.</p>
						<a class="home-page-events-item__details-link"
                           href="/news/">More</a>
                    </div>
                </li>
                <li class="home-page-events__item__wrap">
                    <div class="home-page-events__item home-page-events__item--No-Icon">
                        <h2><span>Resource Library</span></h2>
                        <p class="home-page-events__text">Download the latest documentation covering all our product offerings.</p>
						<a class="home-page-events-item__details-link"
                           href="/products/resource-library/">More</a>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</div>
