<div class="layout__bg--product-tool-tips">
    <div class="layout__container">
        <section class="products-and-solutions">
            <h2 class="products-and-solutions__title">Talisma<sup>&reg;</sup> CRM Suite</h2>
            <p class="products-and-solutions__sub-title">
                Customers, Citizens, Students. They are All Unique and Talisma CRM Enables You to Treat Them That Way.
            </p>
            <ul class="products-and-solutions__list">
                <li class="products-and-solutions-item products-and-solutions-item--CRM">
                    <h3 class="products-and-solutions-item__title">Customer Relationship Management</h3>
                    <p>Gain a unified view of your customers</p>
                    <a class="products-and-solutions-item__details-link"
                       href="/products/">Details</a>
                </li>
                <li class="products-and-solutions-item products-and-solutions-item--DCEP">
                    <h3 class="products-and-solutions-item__title">Digital Customer Engagement Platform</h3>
                    <p>Deliver an engaging experience through a digital platform</p>
                    <a class="products-and-solutions-item__details-link"
                       href="/products/digital-customer-engagement-platform/">Details</a>
                </li>
            </ul>
        </section>
    </div>
</div>
