<ul class="top-nav-menu">
    <li>
        <button
            type="button"
            data-target="#SearchModal"
            data-toggle="modal"
            class="top-nav-menu__charm-button top-nav-menu__charm-button--search"
            title="Search"
        >
            Search
        </button>
    </li>
    <li>
        <a
            href="{{@root.config.domains.talisma}}{{url-lang-prefix}}/contact-us/"
            class="top-nav-menu__charm-button top-nav-menu__charm-button--contact"
            title="Contact"
        >
            Contact
        </a>
    </li>
    <li>
        <a
            href="http://support.talisma.com/SupportPortal/Login.aspx"
            class="top-nav-menu__charm-button top-nav-menu__charm-button--support"
            title="Support Portal"
        >
            Support Portal
        </a>
    </li>
</ul>
